<div class="grid">
    <div class="col-12">
        <div class="card">
            
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="flex flex-wrap gap-3 ">
                        <p-button [raised]="true" label="Registrar insumo" icon="pi pi-plus"
                            (click)="openNewInsumo()"></p-button>
                        <p-button class="mr-2" label="Salida de insumo" icon="pi pi-sign-out" [raised]="true" severity="danger"
                        (click)="openSalidaInsumo()"></p-button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">                    
                    <p-button [raised]="true" severity="success" label="Excel" icon="pi pi-file-excel" pTooltip="Descargar" (click)="exportToExcel()"></p-button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listInsumos" responsiveLayout="scroll" [rows]="5" [globalFilterFields]="['nombre']"
                [paginator]="true" [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} insumos" [rowHover]="true"
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de Insumos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Buscar..." class="w-full sm:w-auto" 
                            (input)="onGlobalFilter(dt, $event)"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="nombre">Insumo<p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="cantidad">Cantidad<p-sortIcon field="cantidad"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-insumo>
                    <tr>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Insumo</span>
                            {{insumo.nombre}}
                        </td>
                        <td style="min-width:8rem;">
                            <span class="p-column-title">Cantidad</span>
                            {{insumo.cantidad ?? 0}}
                        </td>
                        <td>
                            <div class="flex flex-wrap gap-3 ">
                                <p-inputSwitch class="mt-3" [(ngModel)]="insumo.estado" 
                                    (click)="confirm(insumo)" pTooltip="Cambiar estado">
                                </p-inputSwitch>
                                <p-button icon="pi pi-pencil" [rounded]="true" severity="warning"
                                (click)="editInsumo(insumo.id)" pTooltip="Editar"></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6" class="text-center">No se encontraron insumos</td>
                    </tr>
                </ng-template>
            </p-table>

            <p-dialog header="Nuevo Insumo" class="p-fluid" [(visible)]="modalCrearInsumo" [style]="{width: '450px'}"
                [modal]="true">
                <div style="display: flex; flex-direction: row;">
                    <form [formGroup]="formInsumo" (ngSubmit)="addInsumo()">
                        <div 
                        class="formgrid grid" >
                            <div class="field col">
                                <span class="p-float-label">
                                    <input formControlName="nombre" id="nombre" type="text" pInputText (input)="validarNombreInsumo()">
                                    <label for="nombre">Nombre</label>
                                </span>
                                <small
                                    *ngIf="formInsumo.get('nombre')?.hasError('required') && formInsumo.get('nombre')?.touched"
                                    style="color: red;">
                                    El nombre del insumo <strong>requerido</strong>
                                </small>
                                <small *ngIf="formInsumo.get('nombre')?.hasError('insumoExistente') && formInsumo.get('nombre')?.touched"
                                    style="color: red;">
                                    El insumo ya existe en la base de datos
                                </small>
                                <small *ngIf="formInsumo.get('nombre')?.hasError('soloLetras') && formInsumo.get('nombre')?.touched"
                                    style="color: red;">
                                    Solo se permiten letras
                                </small>
                                <small *ngIf="formInsumo.get('nombre')?.hasError('minlength') && formInsumo.get('nombre')?.touched"
                                    style="color: red;">
                                    La ciudad debe tener al menos 4 caracteres
                                </small>
                            </div>
                            <div class="field col">
                                <span class="p-float-label">
                                    <p-inputNumber *ngIf="idInsumo == 0" formControlName="cantidad" [min]="0"> </p-inputNumber>
                                    <p-inputNumber [disabled]="true" [readonly]="true" *ngIf="idInsumo != 0" formControlName="cantidad" ></p-inputNumber>
                                    <label for="cantidad">Cantidad</label>
                                </span>
                            </div>
                        </div>
                            
                        
                        <div class="formgrid col grid mt-2 justify-content-end">
                            <p-button label="Cancelar" icon="pi pi-times" (click)="modalCrearInsumo = false" [text]="true"></p-button>
                            <p-button type="submit" label="Guadar" icon="pi pi-check"></p-button>
                        </div>

                    </form>
                </div>
            </p-dialog>


            <p-dialog header="Insumo gastado" class="p-fluid" [(visible)]="modalSalidaInsumo" [style]="{width: '750px'}"
                [modal]="true">
                <div style="display: flex; flex-direction: row;">
                    <form [formGroup]="formSalidaInsumo" (ngSubmit)="confirmarSalidaInsumo()">
                        <div class="formgrid grid mt-4">
                            <div class="field col">
                                <input *ngIf="mostrarID" type="text" pInputText formControlName="insumo"/>
                            <p-autoComplete class="inputs-pedido" formControlName="insumoNombre"
                                [suggestions]="sugerenciasInsumos" (completeMethod)="buscarInsumos($event)"
                                [dropdown]="true" [minLength]="1" [placeholder]="'Buscar Insumo'"
                                (onSelect)="seleccionarInsumo($event)" 
                                (keyup)="realizarBusquedaEnTiempoRealInsumo($event)" #insumoInput>
                                <ng-template let-insumo pTemplate="item">
                                    {{insumo.nombre}}
                                </ng-template>
                            </p-autoComplete>
                                <small
                                    *ngIf="formSalidaInsumo.get('insumo')?.hasError('required') && formSalidaInsumo.get('insumo')?.touched"
                                    style="color: red;">
                                    El insumo es <strong>requerido</strong>
                                </small>
                            </div>
                            <div class="field col">
                                <span class="p-float-label ">
                                    <p-inputNumber *ngIf="idInsumo== 0" formControlName="cantidad" [min]="0"></p-inputNumber>
                                    <label for="">Cantidad</label>
                                </span>
                                <small
                                    *ngIf="formSalidaInsumo.get('cantidad')?.touched && formSalidaInsumo.get('cantidad')?.value < 1"
                                    style="color: red;">
                                    La cantidad es <strong>requerida</strong>
                                </small>
                            </div>
                            <div class="field col">
                                <p-dropdown formControlName="tipoDeMaquina" 
                                    [autoDisplayFirst]="false" [options]="tipoMaquina"
                                    placeholder="Selecciona la maquina">
                                </p-dropdown>
                                <small
                                    *ngIf="formSalidaInsumo.get('tipoDeMaquina')?.hasError('required') && formSalidaInsumo.get('tipoDeMaquina')?.touched"
                                    style="color: red;">
                                    El tipo de maquina es<strong>requerido</strong>
                                </small>
                            </div>
                            <div class="col-1">
                                <p-button icon="pi pi-plus" [rounded]="true" (click)="addInsumoGastado()"
                                pTooltip="Registrar"></p-button>
                            </div>
                        </div>

                        <p-table styleClass="p-datatable-gridlines p-datatable-sm" [value]="listInsumosGastados">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Insumo</th>
                                    <th>Cantidad</th>
                                    <th>Tipo Maquina</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-insumoGastado let-i="index">
                                <tr>
                                    <td>{{insumoGastado.insumo}}</td>
                                    <td>{{insumoGastado.cantidad}}</td>
                                    <td>{{insumoGastado.tipoDeMaquina}}</td>
                                    <td><p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger "
                                            (click)="eliminarInsumoGastado(insumoGastado)"></p-button></td>
                                </tr>
                            </ng-template>
                        </p-table>

                        <div class="formgrid col grid mt-2 justify-content-end">
                            <p-button label="Cancelar" icon="pi pi-times" [text]="true"
                            (click)="cerrarModalSalidaInsumo()"></p-button>
                            <p-button type="submit" label="Guadar" icon="pi pi-check"></p-button>
                        </div>
                    </form>
                </div>
            </p-dialog>

        </div>

        <p-toast></p-toast>
        <p-confirmDialog>
            <ng-template pTemplate="message">
                <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
                    <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
                    <p>
                        ¿Está seguro de que desea
                        <span style="font-weight: bold">{{ insumoSeleccionado?.estado ? 'ACTIVAR' : 'DESACTIVAR' }}</span> el cliente?
                      </p>
                </div>
            </ng-template>
        </p-confirmDialog>

        <p-dialog [(visible)]="showConfirmationSalidaInsumo" header="Confirmación" [modal]="true" [closable]="false"
            appendTo="body">
            <p>
                ¿Está seguro de que los datos estan correctos?
                Despues no podras deshacer los cambios
            </p>
            <button pButton type="button" label="Sí" icon="pi pi-check"
                (click)="confirmActionSalidaInsumo(true)"></button>
            <button pButton type="button" label="No" icon="pi pi-times"
                (click)="confirmActionSalidaInsumo(false)"></button>
        </p-dialog>

    </div>
</div>