<div class="grid">
    <div class="col-12">
        <div class="card">

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div>
                        <p-button [raised]="true" label="Registrar proveedor" icon="pi pi-plus"
                            (click)="openNew()"></p-button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">                    
                    <p-button [raised]="true" severity="success" label="Excel" icon="pi pi-file-excel" pTooltip="Descargar" 
                        (click)="exportToExcel()"></p-button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listProveedores" responsiveLayout="scroll" [rows]="5"
                [globalFilterFields]="['razonSocial','nombreComercial','numeroIdentificacion','telefono','correo','ciudad','contacto','direccion']"
                [paginator]="true" [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} proveedores" [rowHover]="true"
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de Proveedores</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="tipoProveedor">Tipo<p-sortIcon field="tipoProveedor"></p-sortIcon></th>
                        <th pSortableColumn="numeroIdentificacion">Documento<p-sortIcon
                                field="numeroIdentificacion"></p-sortIcon></th>
                        <th pSortableColumn="razonSocial">Razon Social<p-sortIcon field="razonSocial"></p-sortIcon></th>
                        <th pSortableColumn="telefono">Télefono<p-sortIcon field="telefono"></p-sortIcon></th>
                        <th pSortableColumn="correo">Email<p-sortIcon field="correo"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-proveedor>
                    <tr>
                        <td style="min-width:1rem;"><span class="p-column-title">Tipo</span>
                            {{ proveedor.tipoProveedor }}
                        </td>
                        <td style="min-width:9rem;">
                            <span class="p-column-title">Documento</span>
                            {{ proveedor.numeroIdentificacion }}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Razon Social</span>
                            {{ proveedor.tipoIdentificacion !== 'NIT' ?
                                proveedor.razonSocial + ' ' + proveedor.nombreComercial :
                                proveedor.razonSocial }}
                        </td>
                        <td style="min-width:9rem;">
                            <span class="p-column-title">Telefono</span>
                            {{ proveedor.telefono }}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Email</span>
                            {{ proveedor.correo }}
                        </td>
                        <td style="min-width:12rem;"><span class="p-column-title">Estado</span>
                            <div class="flex flex-wrap gap-3 ">
                                <p-inputSwitch (click)="confirm(proveedor)" class="mt-3"                               
                                [(ngModel)]="proveedor.estado" pTooltip="Cambiar estado">
                            </p-inputSwitch>
                            <p-button icon="pi pi-file" [rounded]="true" severity="secondary"
                            (click)="mostrarDetalleProveedor(proveedor.id)" pTooltip="Ver detalle"></p-button>
                            <p-button icon="pi pi-pencil" [rounded]="true" severity="warning"
                            (click)="editProduct(proveedor.id)" pTooltip="Editar"></p-button>
                            </div>                            
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6" class="text-center">No se encontraron proveedores</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '550px'}" [header]="nuevoProveedor ? 'Nuevo Proveedor' : 'Editar Proveedor'" [modal]="true"
            class="p-fluid">
            <form [formGroup]="formProveedor" (ngSubmit)="addProveedor()">                
                <div class="formgrid grid mt-3">
                    <div class="field col "> 
                        <select pInputText formControlName="tipoProveedor" >  
                            <option value="" disabled selected>Selecciona un tipo de cliente</option>
                            <option value="Persona jurídica">Persona jurídica</option>
                            <option value="Persona natural">Persona natural</option>
                        </select>                       
                            <!-- <p-dropdown formControlName="tipoProveedor" [options]="tipoProveedor"
                            placeholder="Seleccione Tipo Proveedor" [autoDisplayFirst]="false"></p-dropdown>                                                 -->
                        <small
                            *ngIf="formProveedor.get('tipoProveedor')?.hasError('required') && formProveedor.get('tipoProveedor')?.touched"
                            style="color: red;">
                            El Tipo de proveedor es <strong>requerido</strong>
                        </small>
                    </div>
                    <div class="field col">                        
                            <p-dropdown formControlName="tipoIdentificacion" [options]="tipoIdentificacion"
                            placeholder="Seleccione Tipo Documento" [autoDisplayFirst]="false"></p-dropdown>                                                
                        <small
                            *ngIf="formProveedor.get('tipoIdentificacion')?.hasError('required') && formProveedor.get('tipoIdentificacion')?.touched"
                            style="color: red;">
                            El Tipo de identificación es <strong>requerido</strong>
                        </small>
                    </div>
                </div>

                <div class="formgrid grid mt-2">
                    <div class="field col mt-2">
                        <span class="p-float-label">
                            <input pInputText formControlName="numeroIdentificacion" [maxlength]="12" [minlength]="6" (input)="validarNumeroIdentificacion()">
                            <label for="numeroIdentificacion">N° Identificación</label>
                        </span>
                        <small *ngIf="formProveedor.get('numeroIdentificacion')?.hasError('required') && formProveedor.get('numeroIdentificacion')?.touched"
                            style="color: red;">
                            El número de identificación es <strong>requerido</strong>
                        </small>
                        <small *ngIf="formProveedor.get('numeroIdentificacion')?.hasError('minlength') && formProveedor.get('numeroIdentificacion')?.touched"
                            style="color: red;">
                            El número de identificación debe tener al menos 6 dígitos
                        </small>
                        <small *ngIf="formProveedor.get('numeroIdentificacion')?.hasError('numeroExistente') && formProveedor.get('numeroIdentificacion')?.touched"
                            style="color: red;">
                            El número de identificación ya existe en la base de datos
                        </small>
                        <small *ngIf="formProveedor.get('numeroIdentificacion')?.hasError('soloNumeros') && formProveedor.get('numeroIdentificacion')?.touched"
                            style="color: red;">
                            Solo se permiten numeros
                        </small>  
                    </div>
                    <div class="field col mt-2">
                        <span class="p-float-label">
                            <input formControlName="nombreComercial" id="nombreComercial" [maxlength]="50" type="text" pInputText (input)="validarCampo('nombreComercial')">
                            <label for="nombreComercial">{{ isNIT ? 'Nombre Comercial' : 'Apellidos' }}</label>
                        </span>
                        <small *ngIf="formProveedor.get('nombreComercial')?.hasError('required') && formProveedor.get('nombreComercial')?.touched"
                            style="color: red;">
                            {{ isNIT ? 'La nombre comercial es ' : 'El apellido es' }} <strong>requerido</strong>
                        </small>                        
                        <small *ngIf="formProveedor.get('nombreComercial')?.hasError('minlength') && formProveedor.get('nombreComercial')?.touched"
                            style="color: red;">
                            {{ isNIT ? 'El nombre comercial debe tener al menos 3 caracteres' : 'El apellido debe tener al menos 3 caracteres' }}
                        </small>                        
                    </div>

                    
                </div>

                <div class="formgrid grid mt-2">
                    <div class="field col mt-2">
                        <span class="p-float-label">                            
                            <input formControlName="razonSocial" [maxlength]="50" type="text" pInputText (input)="validarCampo('razonSocial')">
                            <label for="razonSocial">{{ isNIT ? 'Razon Social' : 'Nombres' }}</label>
                        </span>
                        <small *ngIf="formProveedor.get('razonSocial')?.hasError('required') && formProveedor.get('razonSocial')?.touched"
                            style="color: red;">
                            {{ isNIT ? 'La razon social es ' : 'El nombre es' }} <strong>requerido</strong>
                        </small>                        
                        <small *ngIf="formProveedor.get('razonSocial')?.hasError('minlength') && formProveedor.get('razonSocial')?.touched"
                            style="color: red;">
                            {{ isNIT ? 'La razon social debe tener al menos 3 caracteres' : 'El nombre debe tener al menos 3 caracteres' }}
                        </small>
                    </div>
                </div>

                <div class="formgrid grid mt-2">                    
                    <div class="field col mt-2">
                        <span class="p-float-label">
                            <input formControlName="ciudad" id="ciudad" type="text" pInputText (input)="validarCiudad()">
                            <label for="ciudad">Ciudad</label>
                        </span>
                        <small *ngIf="formProveedor.get('ciudad')?.hasError('required') && formProveedor.get('ciudad')?.touched"
                            style="color: red;">
                            La ciudad es <strong>requerida</strong>
                        </small>
                        <small *ngIf="formProveedor.get('ciudad')?.hasError('soloLetras') && formProveedor.get('ciudad')?.touched"
                            style="color: red;">
                            Solo se permiten letras
                        </small>
                        <small *ngIf="formProveedor.get('ciudad')?.hasError('minlength') && formProveedor.get('ciudad')?.touched"
                            style="color: red;">
                            La ciudad debe tener al menos 4 caracteres
                        </small>
                    </div>
                    <div class="field col mt-2">
                        <span class="p-float-label">
                            <input formControlName="direccion" id="direccion" type="text" pInputText>
                            <label for="direccion">Dirección</label>
                        </span>
                    </div>
                </div>

                <div class="formgrid grid mt-2">                    
                    <div class="field col mt-2">
                        <span class="p-float-label">
                            <input formControlName="contacto" id="contacto" type="text" pInputText (input)="validarContacto()">
                            <label for="contacto">Contacto</label>
                        </span>                                                
                        <small *ngIf="formProveedor.get('contacto')?.hasError('minlength') && formProveedor.get('contacto')?.touched"
                            style="color: red;">
                            El contacto debe tener al menos 3 caracteres
                        </small>
                    </div>
                </div>

                <div class="formgrid grid mt-2">
                    <div class="field col mt-2">
                        <span class="p-float-label">
                            <p-inputMask mask="(999) 999-9999" formControlName="telefono"></p-inputMask>
                            <label for="telefono">Télefono</label>
                        </span>
                    </div>
                    <div class="field col mt-2">
                        <span class="p-float-label">
                            <input formControlName="correo" id="correo" type="text" (input)="validarCorreo()" pInputText>
                            <label for="correo">Email</label>
                        </span>
                        <small *ngIf="formProveedor.get('correo')?.hasError('correoInvalido') && formProveedor.get('correo')?.touched"
                            style="color: red;">
                            El correo debe tener un formato válido
                        </small>
                    </div>
                </div>

                <div class="formgrid col grid mt-2 justify-content-end">
                    <p-button label="Cancelar" icon="pi pi-times" [text]="true" (click)="hideDialog()"></p-button>
                    <p-button type="submit"label="Guadar" icon="pi pi-check" ></p-button>
                </div>
                
            </form>
        </p-dialog>

        <p-toast></p-toast>
        <p-confirmDialog>
            <ng-template pTemplate="message">
                <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
                    <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
                    <p>
                        ¿Está seguro de que desea
                        <span style="font-weight: bold">{{ proveedorSeleccionado?.estado ? 'ACTIVAR' : 'DESACTIVAR' }}</span> el proveedor?
                      </p>
                </div>
            </ng-template>
        </p-confirmDialog>


        <p-dialog header="Detalle del proveedor" [(visible)]="mostrarModalDetalle" [modal]="true" [responsive]="true"
            [style]="{ width: '40vw' }">
            <div *ngIf="detalleProveedor">
                <div class="grid mt-1">
                    <div class="col-6">
                        <span style="font-weight: bold;">Tipo Proveedor:</span>
                        <div>
                            <span>{{ detalleProveedor.tipoProveedor }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">Tipo Identificación:</span>
                        <div>
                            <span>{{ detalleProveedor.tipoIdentificacion }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">N° Identificación:</span>
                        <div>
                            <span>{{ detalleProveedor.numeroIdentificacion }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">{{ isNITDetalle ? 'Razon Social' : 'Nombres' }}</span>
                        <div>
                            <span>{{ detalleProveedor.razonSocial }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">{{ isNITDetalle ? 'Nombre Comercial' : 'Apellidos' }}</span>
                        <div>
                            <span>{{ detalleProveedor.nombreComercial }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">Ciudad:</span>
                        <div>
                            <span>{{ detalleProveedor.ciudad }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">Dirección Residencia:</span>
                        <div>
                            <span>{{ detalleProveedor.direccion }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">Contacto:</span>
                        <div>
                            <span>{{ detalleProveedor.contacto }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">Télefono:</span>
                        <div>
                            <span>{{ detalleProveedor.telefono }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">Email:</span>
                        <div>
                            <span>{{ detalleProveedor.correo }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>
    </div>
</div>