<div class="grid">
    <div class="col-12">

        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div>
                        <p-button [raised]="true"  label="Registrar cliente" icon="pi pi-plus"
                            (click)="openNew()"></p-button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-button [raised]="true" severity="success" label="Excel" icon="pi pi-file-excel" pTooltip="Descargar"
                        (click)="exportToExcel()"></p-button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listClientes" responsiveLayout="scroll" [rows]="5"
                [globalFilterFields]="['razonSocial','nombreComercial','numeroIdentificacion','telefono','correo','ciudad','contacto','direccion']"
                [paginator]="true" [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} clientes" [rowHover]="true"
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de Clientes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="tipoCliente">Tipo<p-sortIcon field="tipoCliente"></p-sortIcon></th>
                        <th pSortableColumn="numeroIdentificacion">Documento<p-sortIcon
                                field="numeroIdentificacion"></p-sortIcon></th>
                        <th pSortableColumn="razonSocial">Razon Social<p-sortIcon field="razonSocial"></p-sortIcon></th>
                        <th pSortableColumn="telefono">Télefono<p-sortIcon field="telefono"></p-sortIcon></th>
                        <th pSortableColumn="correo">Email<p-sortIcon field="correo"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cliente>
                    <tr>
                        <td style=" min-width:1rem;"><span class="p-column-title">Tipo</span>
                            {{ cliente.tipoCliente }}
                        </td>
                        <td style=" min-width:9rem;">
                            <span class="p-column-title">Documento</span>
                            {{ cliente.numeroIdentificacion }}
                        </td>
                        <td style=" min-width:10rem;">
                            <span class="p-column-title">Razon Social</span>
                            {{ cliente.tipoIdentificacion !== 'NIT' ?
                                    cliente.razonSocial + ' ' + cliente.nombreComercial :
                                    cliente.razonSocial }}
                        </td>
                        <td style=" min-width:9rem;">
                            <span class="p-column-title">Telefono</span>
                            {{ cliente.telefono }}
                        </td>
                        <td style=" min-width:10rem;">
                            <span class="p-column-title">Email</span>
                            {{ cliente.correo }}
                        </td>
                        <td style=" min-width:12rem;"><span class="p-column-title">Estado</span>
                            <div class="flex flex-wrap gap-3 ">
                                <p-inputSwitch (click)="confirm(cliente)"
                                class="mt-3"
                                [(ngModel)]="cliente.estado" pTooltip="Cambiar estado">
                            </p-inputSwitch>
                            <p-button icon="pi pi-file" [rounded]="true" severity="secondary"
                                (click)="mostrarDetalleCliente(cliente.id)" pTooltip="Ver detalle"></p-button>
                            <p-button icon="pi pi-pencil" [rounded]="true" severity="warning"
                                (click)="editProduct(cliente.id)" pTooltip="Editar"></p-button>
                            </div>                            
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6" class="text-center">No se encontraron clientes</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '550px'}" [header]="nuevoCliente ? 'Nuevo Cliente' : 'Editar Cliente'" [modal]="true"
            class="p-fluid">
            <form [formGroup]="formCliente" (ngSubmit)="addCliente()">
                <div class="formgrid grid mt-3">
                    <div class="field col">                        
                        <select  pInputText formControlName="tipoCliente" >  
                            <option value="" selected disabled>Selecciona un tipo de cliente</option>
                            <option *ngFor="let cliente of tiposDeCliente" [value]="cliente.value">{{ cliente.label }}</option>
                        </select>                                                    
                        <small
                            *ngIf="formCliente.get('tipoCliente')?.hasError('required') && formCliente.get('tipoCliente')?.touched"
                            style="color: red;">
                            El Tipo de cliente es <strong>requerido</strong>
                            </small>
                    </div>
                    <div class="field col">                                                
                        <select  pInputText formControlName="tipoIdentificacion" >  
                            <option value="" selected disabled>Selecciona un tipo identificación</option>
                            <option *ngFor="let cliente of tipoIdentificaciones" [value]="cliente.value">{{ cliente.label }}</option>
                        </select>                                                     
                        <small
                            *ngIf="formCliente.get('tipoIdentificacion')?.hasError('required') && formCliente.get('tipoIdentificacion')?.touched"
                            style="color: red;">
                            El Tipo de identificación es <strong>requerido</strong>
                        </small>
                    </div> 
                </div>

                <div class="formgrid grid ">
                    <div class="field col">
                        <span class="p-float-label">
                            <input pInputText type="text" formControlName="numeroIdentificacion" [maxlength]="12" [minlength]="6" (input)="validarNumeroIdentificacion()">                            
                            <label for="numeroIdentificacion">N° Identificación</label>
                        </span>
                        <small *ngIf="formCliente.get('numeroIdentificacion')?.hasError('required') && formCliente.get('numeroIdentificacion')?.touched"
                            style="color: red;">
                            El número de identificación es <strong>requerido</strong>
                        </small>
                        <small *ngIf="formCliente.get('numeroIdentificacion')?.hasError('minlength') && formCliente.get('numeroIdentificacion')?.touched"
                            style="color: red;">
                            El número de identificación debe tener al menos 6 dígitos
                        </small>
                        <small *ngIf="formCliente.get('numeroIdentificacion')?.hasError('numeroExistente') && formCliente.get('numeroIdentificacion')?.touched"
                            style="color: red;">
                            El número de identificación ya existe en la base de datos
                        </small>
                        <small *ngIf="formCliente.get('numeroIdentificacion')?.hasError('soloNumeros') && formCliente.get('numeroIdentificacion')?.touched"
                            style="color: red;">
                            Solo se permiten numeros
                        </small>                        
                    </div>

                    <div class="field col">
                        <span class="p-float-label">
                            <input formControlName="nombreComercial" [maxlength]="50" id="nombreComercial" type="text" pInputText (input)="validarCampo('nombreComercial')">
                            <label for="nombreComercial">{{ isNIT ? 'Nombre Comercial' : 'Apellidos' }}</label>
                        </span>
                        <small *ngIf="formCliente.get('nombreComercial')?.hasError('required') && formCliente.get('nombreComercial')?.touched"
                            style="color: red;">
                            {{ isNIT ? 'La nombre comercial es ' : 'El apellido es' }} <strong>requerido</strong>
                        </small>                        
                        <small *ngIf="formCliente.get('nombreComercial')?.hasError('minlength') && formCliente.get('nombreComercial')?.touched"
                            style="color: red;">
                            {{ isNIT ? 'El nombre comercial debe tener al menos 3 caracteres' : 'El apellido debe tener al menos 3 caracteres' }}
                        </small>                        
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <span class="p-float-label">                            
                            <input formControlName="razonSocial" [maxlength]="50" type="text" pInputText (input)="validarCampo('razonSocial')">
                            <label for="razonSocial">{{ isNIT ? 'Razon Social' : 'Nombres' }}</label>
                        </span>
                        <small *ngIf="formCliente.get('razonSocial')?.hasError('required') && formCliente.get('razonSocial')?.touched"
                            style="color: red;">
                            {{ isNIT ? 'La razon social es ' : 'El nombre es' }} <strong>requerido</strong>
                        </small>                        
                        <small *ngIf="formCliente.get('razonSocial')?.hasError('minlength') && formCliente.get('razonSocial')?.touched"
                            style="color: red;">
                            {{ isNIT ? 'La razon social debe tener al menos 3 caracteres' : 'El nombre debe tener al menos 3 caracteres' }}
                        </small>
                    </div>
                </div>

                <div class="formgrid grid">                    
                    <div class="field col">
                        <span class="p-float-label">
                            <input formControlName="ciudad" id="ciudad" type="text" pInputText (input)="validarCiudad()">
                            <label for="ciudad">Ciudad</label>
                        </span>
                        <small *ngIf="formCliente.get('ciudad')?.hasError('required') && formCliente.get('ciudad')?.touched"
                            style="color: red;">
                            La ciudad es <strong>requerida</strong>
                        </small>
                        <small *ngIf="formCliente.get('ciudad')?.hasError('soloLetras') && formCliente.get('ciudad')?.touched"
                            style="color: red;">
                            Solo se permiten letras
                        </small>
                        <small *ngIf="formCliente.get('ciudad')?.hasError('minlength') && formCliente.get('ciudad')?.touched"
                            style="color: red;">
                            La ciudad debe tener al menos 4 caracteres
                        </small>
                    </div>           
                    <div class="field col">
                        <span class="p-float-label">
                            <input formControlName="direccion" id="direccion" type="text" pInputText>
                            <label for="direccion">Dirección</label>
                        </span>
                    </div>
                </div>

                <div class="formgrid grid">                    
                    <div class="field col">
                        <span class="p-float-label">
                            <input [maxlength]="50" formControlName="contacto" id="contacto" type="text" pInputText (input)="validarContacto()">
                            <label for="contacto">Contacto</label>
                        </span>                                                
                        <small *ngIf="formCliente.get('contacto')?.hasError('minlength') && formCliente.get('contacto')?.touched"
                            style="color: red;">
                            El contacto debe tener al menos 3 caracteres
                        </small>
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <span class="p-float-label">
                            <p-inputMask  mask="(999) 999-9999" formControlName="telefono"></p-inputMask>
                            <label for="telefono">Télefono</label>
                        </span>
                    </div>
                    <div class="field col">
                        <span class="p-float-label">
                            <input formControlName="correo" id="correo" type="text" (input)="validarCorreo()" pInputText>
                            <label for="correo">Email</label>
                        </span>
                        <small *ngIf="formCliente.get('correo')?.hasError('correoInvalido') && formCliente.get('correo')?.touched"
                            style="color: red;">
                            El correo debe tener un formato válido
                        </small>
                    </div>
                </div>

                <div class="formgrid col grid mt-2 justify-content-end">
                <p-button label="Cancelar" icon="pi pi-times" [text]="true" (click)="hideDialog()"></p-button>
                <p-button type="submit" label="Guadar" icon="pi pi-check"></p-button>
                </div>
                

            </form>
        </p-dialog>

        <p-toast></p-toast>
        <p-confirmDialog>
            <ng-template pTemplate="message">
                <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
                    <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
                    <p>
                        ¿Está seguro de que desea
                        <span style="font-weight: bold">{{ clienteSeleccionado?.estado ? 'ACTIVAR' : 'DESACTIVAR' }}</span> el cliente?
                      </p>
                </div>
            </ng-template>
        </p-confirmDialog>

        <p-dialog header="Detalle del cliente" [(visible)]="mostrarModalDetalle" [modal]="true" [responsive]="true"
            [style]="{ width: '40vw' }">
            <div *ngIf="detalleCliente">
                <div class="grid mt-1">
                    <div class="col-6">
                        <span style="font-weight: bold;">Tipo Cliente:</span>
                        <div>
                            <span>{{ detalleCliente.tipoCliente }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">Tipo Identificación:</span>
                        <div>
                            <span>{{ detalleCliente.tipoIdentificacion }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">N° Identificación:</span>
                        <div>
                            <span>{{ detalleCliente.numeroIdentificacion }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">{{ isNITDetalle ? 'Razon Social' : 'Nombres' }}</span>
                        <div>
                            <span>{{ detalleCliente.razonSocial }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">{{ isNITDetalle ? 'Nombre Comercial' : 'Apellidos' }}</span>
                        <div>
                            <span>{{ detalleCliente.nombreComercial }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">Ciudad:</span>
                        <div>
                            <span>{{ detalleCliente.ciudad }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">Dirección Residencia:</span>
                        <div>
                            <span>{{ detalleCliente.direccion }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">Contacto:</span>
                        <div>
                            <span>{{ detalleCliente.contacto }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">Télefono:</span>
                        <div>
                            <span>{{ detalleCliente.telefono }}</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <span style="font-weight: bold;">Email:</span>
                        <div>
                            <span>{{ detalleCliente.correo }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </p-dialog>

    </div>
</div>