<div class="grid">
    <div class="col-12">
        <div class="card ">


            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div>
                        <p-button [raised]="true"  label="Registrar pedido" icon="pi pi-plus"
                            [routerLink]="['/pages/pedido/add', 0]"></p-button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-button [raised]="true" severity="success" label="Excel" icon="pi pi-file-excel" pTooltip="Descargar"
                        (click)="exportToExcel()"></p-button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listPedidos" [scrollable]="false" responsiveLayout="scroll" [rows]="5"
                [globalFilterFields]="['Cliente.razonSocial','estado']" [paginator]="true"
                [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} pedidos" [rowHover]="true"
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de Pedidos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Buscar..." (input)="onGlobalFilter(dt, $event)"
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="cliente">Cliente<p-sortIcon field="cliente"></p-sortIcon></th>
                        <th pSortableColumn="ordenTrabajo">O.T<p-sortIcon field="ordenTrabajo"></p-sortIcon>
                        </th>
                        <th pSortableColumn="fechaOrdenTrabajo">F. Orden<p-sortIcon
                                field="fechaOrdenTrabajo"></p-sortIcon></th>
                        <th pSortableColumn="fechaEntregaOrden">F. Entrega<p-sortIcon
                                field="fechaEntregaOrden"></p-sortIcon></th>
                        <th pSortableColumn="valorTotal">Valor Total<p-sortIcon field="valorTotal"></p-sortIcon></th>
                        <th pSortableColumn="estado" (click)="alternarVistaEstado()">Estado<p-sortIcon
                                field="estado"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pedido>
                    <tr *ngIf="ffiltroEstado(pedido, dt.filters)">
                        <td style="min-width:10rem;"><span class="p-column-title">Cliente</span>
                            {{ pedido.Cliente.tipoIdentificacion !== 'NIT' ?
                            pedido.Cliente.razonSocial + ' ' + pedido.Cliente.nombreComercial :
                            pedido.Cliente.razonSocial }}
                        </td>
                        <td style="min-width:5rem;">
                            <span class="p-column-title">Orden Trabajo</span>
                            {{ pedido.ordenTrabajo }}
                        </td>
                        <td style="min-width:7rem;">
                            <span class="p-column-title">Fecha Orden</span>
                            {{ pedido.fechaOrdenTrabajo }}
                        </td>
                        <td style="min-width:8rem;">
                            <span class="p-column-title">Fecha Entrega</span>
                            {{ pedido.fechaEntregaOrden }}
                        </td>
                        <td style="min-width:8rem;">
                            <span class="p-column-title">Valor Total</span>
                            $ {{ pedido.valorTotal | number: '1.2-2' }}
                        </td>
                        <td>
                            <span class="p-column-title">Estado</span>
                            <p-tag [value]="getDisplayedEstado(pedido.estado, pedido.estadoPedido)"
                                [severity]="getSeverity(pedido.estado, pedido.estadoPedido)"></p-tag>
                        </td>
                        <td  style="min-width:8rem;">
                            <div class="flex flex-wrap gap-3 ">
                                <p-button icon="pi pi-file" [rounded]="true" severity="secondary"
                                    (click)="mostrarDetallePedido(pedido.id)" pTooltip="Ver detalle"></p-button>
                                <p-button icon="pi pi-pencil" [rounded]="true" severity="warning"
                                    (click)="editarPedido(pedido.id)" pTooltip="Editar"
                                    *ngIf="pedido.estado == 'Registrado' && pedido.estadoPedido == true"></p-button>
                                <p-button icon="pi pi-times" [rounded]="true" severity="danger"
                                    (click)="anularPedido(pedido)"
                                    *ngIf="pedido.estado == 'Registrado' && pedido.estadoPedido == true"
                                    pTooltip="Anular"></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6" class="text-center">No se encontraron pedidos</td>
                    </tr>
                </ng-template>
            </p-table>

            <p-dialog header="Detalle del pedido" [(visible)]="mostrarModalDetalle" [modal]="true" [responsive]="true"
                [style]="{ width: '60vw' }">
                <div *ngIf="detallePedido">
                    <div class="grid mt-1">
                        <div class="col-4">
                            <span style="font-weight: bold;">Cliente:</span>
                            <div>
                                <span> {{ detallePedido.Cliente.tipoIdentificacion !== 'NIT' ?
                                    detallePedido.Cliente.razonSocial + ' ' + detallePedido.Cliente.nombreComercial :
                                    detallePedido.Cliente.razonSocial }}</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <span style="font-weight: bold;">Contacto:</span>
                            <div>
                                <span>{{ detallePedido.Cliente.contacto }}</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <span style="font-weight: bold;">Orden de Trabajo:</span>
                            <div>
                                <span>{{ detallePedido.ordenTrabajo }}</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <span style="font-weight: bold;">Fecha Orden:</span>
                            <div>
                                <span>{{ detallePedido.fechaOrdenTrabajo }}</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <span style="font-weight: bold;">Fecha Entrega:</span>
                            <div>
                                <span>{{ detallePedido.fechaEntregaOrden }}</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <span style="font-weight: bold;">Referencia:</span>
                            <div>
                                <span>{{ detallePedido.referencia }}</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <span style="font-weight: bold;">Descripción:</span>
                            <div>
                                <span>{{ detallePedido.descripcion }}</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <span style="font-weight: bold;">Valor Unitario:</span>
                            <div>
                                <span>{{ detallePedido.valorUnitario }}</span>
                            </div>
                        </div>

                        <p-table class="col-6" [value]="detallePedido.ProcesoEnReferenciaEnPedidos">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Proceso</th>
                                    <th>Tipo Maquina</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-proceso>
                                <tr>
                                    <td>{{proceso.proceso}}</td>
                                    <td>{{proceso.tipoDeMaquina}}</td>
                                </tr>
                            </ng-template>
                        </p-table>

                        <p-table class="col-6"
                            [value]="detallePedido.ProcesoEnReferenciaEnPedidos[0]?.ColorEnProcesoEnReferenciaEnPedidos">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Color/Talla</th>
                                    <th>S</th>
                                    <th>M</th>
                                    <th>L</th>
                                    <th>XL</th>
                                    <th>Cantidad Total</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-color>
                                <tr>
                                    <td>{{color.color}}</td>
                                    <td>{{color.tallaS}}</td>
                                    <td>{{color.tallaM}}</td>
                                    <td>{{color.tallaL}}</td>
                                    <td>{{color.tallaXL}}</td>
                                    <td>{{color.cantidadTotal}}</td>
                                </tr>
                            </ng-template>
                        </p-table>

                        <div class="col-6">
                            <span style="font-weight: bold;">Forma Pago:</span>
                            <div>
                                <span>{{ detallePedido.formaPago }}</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <span style="font-weight: bold;">Valor Total:</span>
                            <div>
                                <span>$ {{ detallePedido.valorTotal | number: '1.2-2' }}</span>
                            </div>
                        </div>

                    </div>

                </div>
            </p-dialog>


            <p-dialog header="Confirmación" [(visible)]="showConfirmationDialogPedido" [modal]="true">
                <p>
                    ¿Está seguro de que desea anular el pedido? despues de anulado no se podra volver a modificar
                </p>
                <input pInputText type="text" [(ngModel)]="motivoAnulacion" placeholder="Motivo de Anulación" />
                <button pButton type="button" label="Sí" icon="pi pi-check"
                    (click)="confirmActionCompra(true)"></button>
                <button pButton type="button" label="No" icon="pi pi-times"
                    (click)="confirmActionCompra(false)"></button>
            </p-dialog>

        </div>
    </div>
</div>