<div class="grid">
<div class="col-12">
<!-- Listar pedidos para producción  -->
<div class="card">
    <h3>Pedidos activos</h3>
    <p-accordion [multiple]="true">        
        <p-accordionTab *ngFor="let pedido of listPedidos" class="line-height-3 m-2">

            <!-- HEADER ACCORDIONTAB -->
            <ng-template pTemplate="header">
                <div class="flex align-items-center">
                    <span class="vertical-align-middle">Orden de trabajo: <strong>{{ pedido.ordenTrabajo }}</strong></span>
                    <!-- PENDIENTE Organizar el icono si ya se asigno una tarea  -->
                    <i *ngIf="pedido.id !== undefined && pedido.estado === 'En proceso'" class="pi pi-hourglass ml-2" style="color: rgb(4, 192, 255)"></i>
                    <i *ngIf="pedido.id !== undefined && pedido.estado === 'Registrado'" class="pi pi-exclamation-circle ml-2" style="color: rgb(255, 175, 77)"></i>
                    <i *ngIf="pedido.id !== undefined && pedido.estado === 'Terminado'" class="pi pi-check-circle ml-2" style="color: rgb(94, 255, 0)"></i>
                </div>
            </ng-template>

            <!-- INICIO TABLE PEDIDO INFO-->
            <p-table [value]="[pedido]">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Detalle del pedido</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>                                            
                        <th>Cliente</th>
                        <th>Fecha Orden</th>
                        <th>Fecha Entrega</th>
                        <th>Valor Total</th>
                        <th>Estado</th>                                                                
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pedido>
                    <tr>
                        <td>{{pedido.Cliente.razonSocial}}</td>
                        <td>{{pedido.fechaOrdenTrabajo}}</td>
                        <td>{{pedido.fechaEntregaOrden}}</td>
                        <td>{{pedido.valorTotal}}</td>
                        <td><strong>{{pedido.estado}}</strong></td>                                                                
                    </tr>
                </ng-template>
            </p-table>
            <!-- FINAL TABLE PEDIDO INFO-->

            <!-- INICIO TABVIEW -->
            <p-tabView>
                <ng-container>
                    <!-- INICIO ACOORDION REFERENCIA -->
                    <!-- <p-accordionTab [header]="'Referencia: ' + pedido.referencia"> -->
                        
                            <!-- INICIO TABLE REFERENCIA -->
                            <p-table [value]="[pedido]" styleClass="p-datatable-sm" >
                                <ng-template pTemplate="caption">
                                    Referencia: {{pedido.referencia}}
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>                                            
                                        <th>Descripción</th>
                                        <th>Valor Unit.</th>                                                                
                                        <th>Cant. Total</th>                                                                                                                               
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-pedido>
                                    <tr>
                                        <td>{{pedido.descripcion}}</td>
                                        <td>{{pedido.valorUnitario}}</td>
                                        <td>{{pedido.cantidadTotal}}</td>                                                              
                                    </tr>
                                </ng-template>
                            </p-table>
                            <!-- FINAL TABLE REFERENCIA -->
                        
                        <!-- INICIO TABVIEW PROCESO -->
                        <p-tabView>

                            <ng-container *ngFor="let proceso of listPedidoProceso">
                            <ng-container *ngIf="pedido.id === proceso.pedido">
                                <!-- <ng-container *ngFor=" let i = index"> -->
                                <!-- INICIO TABPANEL PROCESO INFO -->
                                <p-tabPanel>
                                    <ng-template pTemplate="header">
                                        <div class="flex align-items-center">
                                            <span class="vertical-align-middle"><strong>{{ proceso.proceso }}</strong></span>
                                            <!-- PENDIENTE Organizar el icono si ya se asigno una tarea  -->
                                            <i *ngIf="proceso.proceso !== undefined && proceso.cantidadAsignada !== undefined && proceso.estado === false && (proceso.cantidadAsignada > 0)" class="pi pi-hourglass ml-2" style="color: rgb(4, 192, 255)"></i>
                                            <i *ngIf="proceso.cantidadAsignada !== undefined && (proceso.cantidadAsignada === 0)" class="pi pi-exclamation-circle ml-2" style="color: rgb(255, 175, 77)"></i>
                                            <i *ngIf="proceso.proceso !== undefined && proceso.estado === true" class="pi pi-check-circle ml-2" style="color: rgb(94, 255, 0)"></i>
                                        </div>
                                        <!-- <i *ngIf="proceso.id !== undefined && validarRegistroProceso2(proceso.id) && proceso.estado === false" class="pi pi-check ml-2" style="color: green"></i>
                                        <i *ngIf="proceso.estado !== undefined && proceso.estado === true" class="pi pi-circle-fill ml-2" style="color: rgb(255, 255, 0)"></i>
                                        <i *ngIf="proceso.id !== undefined && !validarRegistroProceso2(proceso.id)" class="pi pi-times ml-2" style="color: red"></i>                     -->
                                    </ng-template>

                                    <p-table [value]="[proceso]">
                                        <ng-template pTemplate="header">
                                            <tr>                                            
                                                <th>Proceso</th>                                                            
                                                <th>Cant. Total</th>
                                                <th>Cant. Asignada</th>
                                                <th>Cant. Pendiente</th>
                                                <th>Cant. Terminada</th>
                                                <th>Estado</th>
                                                <th></th>                                                                                                                               
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-proceso>
                                                <tr>                                
                                                  <td>{{proceso.tipoDeMaquina}}</td>
                                                  <td>{{proceso.cantidadTotal}}</td>
                                                  <td>{{proceso.cantidadAsignada || 0}}</td>
                                                  <td>{{proceso.cantidadPendiente || 0}}</td>
                                                  <td>{{proceso.cantidadHecha || 0}}</td>
                                                  <td>
                                                    <ng-container *ngIf="proceso.estado === false && proceso.cantidadAsignada === 0">
                                                        <strong>Pendiente</strong>
                                                      </ng-container>
                                                    <ng-container *ngIf="proceso.estado === false && proceso.cantidadAsignada > 0">
                                                      <strong>En proceso</strong>
                                                    </ng-container>
                                                    <ng-container *ngIf="proceso.estado === true">
                                                      <strong>Terminado</strong>
                                                    </ng-container>
                                                  </td>
                                 
                                                  <td>
                                                    <div class="flex gap-2 justify-content-center">
                                                      <p-button *ngIf="proceso.estado === false && proceso.cantidadPendiente > 0" icon="pi pi-plus" [rounded]="true" pTooltip="Asignar proceso" (click)="showAsignarProcesoDialog(proceso)"></p-button>
                                                      <p-button icon="pi pi-info" [rounded]="true" pTooltip="Procesos asignados" (click)="showDetalleProcAsigDialog(proceso)"></p-button>
                                                    </div>
                                                  </td>
                                                </tr>
                                          </ng-template>
                                          
                                    </p-table>
                                    <!--  -->
                                    <p-table [value]="proceso.ColorEnProcesoEnReferenciaEnPedidos ?? []">
                                        <ng-template pTemplate="header">
                                            <tr>                                            
                                                <th>Color</th>                                                            
                                                <th>Cant. Total</th>  
                                                <th>S</th>
                                                <th>M</th>
                                                <th>L</th>
                                                <th>XL</th>                                                                                            
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-color>
                                                <tr>
                                                    <td>{{color.color}}</td>
                                                    <td>{{color.cantidadTotal}}</td>
                                                    <td>{{color.tallaS}}</td>
                                                    <td>{{color.tallaM}}</td>
                                                    <td>{{color.tallaL}}</td>
                                                    <td>{{color.tallaXL}}</td>
                                                </tr>
                                        </ng-template>
                                    </p-table>

                                </p-tabPanel>
                            </ng-container>
                        </ng-container>
                        <!-- </ng-container> -->
                                <!-- FINAL TABPANEL PROCESO -->
                        </p-tabView>
                        <!-- FINAL TABVIEW PROCESO -->
                    <!-- </p-accordionTab> -->
                    <!-- FINAL ACCORDION REFERENCIA -->
                </ng-container>
            </p-tabView>
        </p-accordionTab>
    </p-accordion>

    <!-- Dialog para registrar el proceso asignado a un empleado -->
    <p-dialog [(visible)]="asignarProcDialog" [style]="{width: '450px'}" [modal]="true" header="Asignar proceso" class="p-fluid">
        <form [formGroup]="formAsignarProcesoEmpleado" (ngSubmit)="addAsignarProcesoEmpleado()">

                <div class="field">
                    <label for="empleado">Empleado*</label>
                    
                    <div>
                      <p-autoComplete
                        formControlName="empleadoId"
                        [suggestions]="listEmpleados"
                        (completeMethod)="buscarEmpleado($event)"
                        [dropdown]="true"                          
                        [placeholder]="'Seleccionar empleado'"
                        (onSelect)="seleccionarEmpleado($event)">
                        <ng-template let-empleado pTemplate="item">
                                {{empleado.nombre}} {{empleado.apellido}}
                        </ng-template>
                      </p-autoComplete>                              
                    </div>
                    
                    <small *ngIf="formAsignarProcesoEmpleado.get('empleado')?.hasError('required') && formAsignarProcesoEmpleado.get('empleado')?.touched" style="color: red;">
                        El empleado es <strong>requerido</strong>
                    </small>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <span class="p-float-label">
                            <input type="number" id="cantidadPendiente" [readOnly]="true" [ngStyle]="{'pointer-events': 'none', 'background-color': '#ffffff', 'caret-color': 'transparent'}" pInputText formControlName="cantidadPendiente"/>
                            <label for="cantidadPendiente">Cantidad disponible</label>
                        </span>
                    </div>
                    <div class="field col">
                        <span class="p-float-label">
                            <input id="cantidadAsignada" pKeyFilter="int" type="number" pInputText formControlName="cantidadAsignada" (input)="validateCantAsignada()"/>
                            <label for="cantidadAsignada">Cantidad por asignar</label>
                        </span>
                        <small>
                            <span *ngIf="formAsignarProcesoEmpleado.get('cantidadAsignada')?.hasError('required') && formAsignarProcesoEmpleado.get('cantidadAsignada')?.touched" style="color: red;">
                                La cantidad es <strong>requerida.</strong>
                            </span>
                            <span *ngIf="formAsignarProcesoEmpleado.get('cantidadAsignada')?.hasError('min') && formAsignarProcesoEmpleado.get('cantidadAsignada')?.touched" style="color: red;">
                                La cantidad asignada debe ser mayor a 0.
                            </span>
                            <span *ngIf="formAsignarProcesoEmpleado.get('cantidadAsignada')?.hasError('cantError') && formAsignarProcesoEmpleado.get('cantidadAsignada')?.touched" style="color: red;">
                                La cantidad asignada no puede ser mayor a la cantidad disponible.
                            </span>
                        </small>
                    </div>
                </div>

                <div class="formgrid col grid mt-2 justify-content-end">
                    <p-button label="Cancelar" icon="pi pi-times" [text]="true" (click)="hideDialog()"></p-button>
                    <p-button type="submit" label="Asignar" [disabled]="formAsignarProcesoEmpleado.invalid" icon="pi pi-check"></p-button>
                </div>
                  
        </form>
    </p-dialog>

    <p-dialog [(visible)]="detalleProcAsigDialog" header="Procesos asignados" [style]="{width:'80vw'}" [draggable]="false" [resizable]="false" [modal]="true" class="p-fluid">
        <!-- <div class="card"> -->
            <p-table [value]="listFilterAsigProcEmpleado" dataKey="id">
                <!-- <ng-template pTemplate="caption">
                    Procesos asignados
                </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <!-- <th>Code</th> -->
                        <th>Empleado</th>
                        <th>Cantidad asignada</th>
                        <th>Cantidad restante</th>
                        <th>Cantidad hecha</th>
                        <th>Estado producción</th>
                        <th>Estado proceso</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-proceso let-expanded="expanded">
                    <tr>
                        <td>
                            <ng-container *ngIf="proceso.estadoAnular === false">
                                <button type="button" pButton pRipple [pRowToggler]="proceso" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            </ng-container>
                        </td>
                        <!-- <td>{{proceso.id}}</td> -->
                        <td>{{proceso.nombreEmpleado}}</td>
                        <td>{{proceso.cantidadAsignada}}</td>
                        <td>{{proceso.cantRestante}}</td>
                        <ng-container *ngIf="proceso.estadoProcAsig === true">
                            <td>
                                0
                            </td>
                        </ng-container>
                        <ng-container *ngIf="proceso.estadoProcAsig === false">
                            <td *ngIf="proceso.estadoProcAsig === false">
                                <form [formGroup]="formAvance" (ngSubmit)="crearAvance(proceso.id)">
                                    <div class="formgrid col grid mt-2 justify-content-end" style="display: flex; flex-direction: row;">
                                        <div style="flex: 1;">
                                            <span class="p-float-label">
                                                <input type="number" pInputText formControlName="cantidadHecha"/>
                                                <label for="cantidadHecha">Cantidad hecha</label>
                                            </span>
                                        </div>
                                        <div style="margin-left: 8px;">
                                            <p-button type="submit" icon="pi pi-save" [rounded]="true" [text]="true" severity="success" pTooltip="Guardar"></p-button>        
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </ng-container>
                        <td class="justify-content-center">
                            <p-tag [value]="changeEstadoProd(proceso.estadoProcAsig, proceso.estadoAnular)" [severity]="getEstadoProd(proceso.estadoProcAsig, proceso.estadoAnular)"></p-tag>
                        </td>
                        <ng-container *ngIf="proceso.estadoAnular === true">
                            <td>
                                <p-tag [value]="changeEstadoAnular(proceso.estadoAnular)" [severity]="styleEstadoAnular(proceso.estadoAnular)"></p-tag>
                            </td>
                        </ng-container>
                        <ng-container *ngIf="proceso.estadoAnular === false && proceso.estadoProcAsig === false && proceso.cantidadAsignada === proceso.cantRestante">
                            <td>
                                <div class="flex">
                                    <!-- <p-button icon="pi pi-times" [rounded]="true" severity="danger"></p-button> -->
                                    <p-button (click)="anularProceso(proceso.id)" icon="pi pi-times-circle" [rounded]="true" severity="danger" pTooltip="Anular"></p-button>
                                </div>
                            </td>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-proceso>
                    <tr>
                        <td colspan="10">
                            <div class="p-3">
                                <p-table [value]="proceso.avanceProcesoEmpleados" dataKey="id">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <!-- <th>Code</th> -->
                                            <th>Cantidad hecha</th>
                                            <th>Fecha</th>
                                            <th>Hora</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-avance>
                                        <tr>
                                          <!-- <td>{{ avance.id }}</td> -->
                                          <td>{{ avance.cantidadHecha }}</td>
                                          <td>{{ avance.date }}</td>
                                          <td>{{ avance.time }}</td>
                                      </tr>
                                        
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="3">No tiene registro de avances</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <p-confirmDialog></p-confirmDialog>

            <ng-template pTemplate="footer">
                <p-button label="Cerrar" icon="pi pi-times" [text]="true" (click)="hideDialog()"></p-button>
            </ng-template>
        <!-- </div> -->
    </p-dialog>

    

    <!-- Dialog detalle tareas asignadas -->
    <!-- <p-dialog [(visible)]="viewInfoDialog" [style]="{width: '640px'}" header="Tareas asignadas" [modal]="true" class="p-fluid">
        <p-table [value]="filteredAsignarProceso">
            <ng-template pTemplate="header">
                <tr>                                            
                    <th>Empleado</th>                                                            
                    <th>Proceso</th>
                    <th>Fecha de registro</th> 
                    <th>Cantidad asignada</th> 
                    <th>Estado</th>
                    <th></th>                                                                                           
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-asignar>
                <ng-container>
                    <tr>
                        <td>{{ getNombreEmpleado(asignar.empleado) }}</td>
                        <td>{{asignar.proceso}}</td>
                        <td>{{asignar.fechaRegistro}}</td>
                        <td>{{asignar.cantAsignada}}</td>
                        <td>{{asignar.estado}}</td>
                        <td>
                            <p-inputSwitch  
                            [(ngModel)]="asignar.estado" 
                            (click)="cambiarEstadoProceso(asignar)">
                            </p-inputSwitch>
                        </td>
                    </tr>
                </ng-container> 
            </ng-template>
        </p-table>
    </p-dialog> -->
<!-- 
    <p-dialog [(visible)]="changeStateDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="asignarProceso">¿El empleado terminó la tarea?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="confirmChangeState(false)"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí" (click)="confirmChangeState(true)"></button>
        </ng-template>
    </p-dialog> -->

    <!-- Dialog asignar tarea a empleado  -->
    <!-- <p-dialog [(visible)]="asignarTareaDialog" [style]="{width: '450px'}" header="Asignar tarea" [modal]="true" class="p-fluid">
        <form [formGroup]="formularioAsignarProceso" (ngSubmit)="addAsignarProceso()">
            <div class="field">
                <label for="empleado">Empleado*</label>
                
                <div>
                  <p-autoComplete
                    formControlName="empleado"
                    [suggestions]="listEmpleados"
                    (completeMethod)="buscarEmpleado($event)"
                    [dropdown]="true"                          
                    [placeholder]="'Seleccionar empleado'"
                    (onSelect)="seleccionarEmpleado($event)">
                    <ng-template let-empleado pTemplate="item">
                            {{empleado.nombre}} {{empleado.apellido}}
                    </ng-template>
                  </p-autoComplete>                              
                </div>
                
                <small *ngIf="formularioAsignarProceso.get('empleado')?.hasError('required') && formularioAsignarProceso.get('empleado')?.touched" style="color: red;">
                    El empleado es <strong>requerido</strong>
                  </small>
            </div>

            <div class="formgrid grid" style="margin-top: 20px;">  


                <div class="field col">
                    <label for="cantidadPendiente">Cantidad disponible</label>
                    <input [readonly]="true" [ngStyle]="{'pointer-events': 'none', 'background-color': '#f4f4f4', 'caret-color': 'transparent'}" type="text" pInputText formControlName="cantidadPendiente"/>
                    <small *ngIf="formularioAsignarProceso.get('cantidadPendiente')?.hasError('required') && formularioAsignarProceso.get('cantidadPendiente')?.touched">
                        Teléfono es requerido.
                    </small>
                </div>

              <div class="field col">
                <label for="cantAsignada">Cantidad a asignar*</label>
                <input type="text" pInputText pKeyFilter="int" formControlName="cantAsignada"/>
                <small *ngIf="formularioAsignarProceso.get('cantAsignada')?.hasError('required') && formularioAsignarProceso.get('cantAsignada')?.touched" style="color: red;">
                  La cantidad asignada es <strong>requerida</strong>
                </small>
                <small *ngIf="formularioAsignarProceso.get('cantAsignada')?.hasError('min') && formularioAsignarProceso.get('cantAsignada')?.touched" style="color: red;">
                    La cantidad asignada debe ser mayor a 0
                </small>
              </div>

              </div>
          
            <div style="display: flex; justify-content: center; align-items: center;">
              <div class="field">
                <button type="button" pButton pRipple label="Cancelar" class="p-button-rounded p-button-danger" (click)="hideDialog()"></button>
              </div>
              <div class="field" style="margin-left: 8px;">
                <button type="submit" pButton pRipple label="Guardar" class="p-button-rounded p-button-success"></button>
              </div>
            </div>
          </form>
          
    </p-dialog> -->
    

</div>

</div>
</div>