<!-- <div class="grid">
    <div class="col-12">
Listar pedidos para producción 
<div class="card">
    <h3>Pedidos activos</h3>
    <p-accordion [multiple]="true">        
        <p-accordionTab *ngFor="let pedido of listPedidos" class="line-height-3 m-2">
            <ng-template pTemplate="header">
                <div class="flex align-items-center">
                    <span class="vertical-align-middle">Orden de trabajo: {{ pedido.ordenTrabajo }}</span>
                    PENDIENTE Organizar el icono si ya se asigno una tarea 
                    
                    <i *ngIf="pedido.id !== undefined && validarRegistroProceso(pedido.id)" class="pi pi-check ml-2" style="color: green"></i>
                    <i *ngIf="pedido.id !== undefined && !validarRegistroProceso(pedido.id)" class="pi pi-times ml-2" style="color: red"></i>
                                      </div>
            </ng-template>



            <p-table [value]="[pedido]">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Información del pedido</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>                                            
                        <th>Cliente</th>
                        <th>Fecha Orden</th>
                        <th>Fecha Entrega</th>
                        <th>Valor Total</th>
                        <th>Estado</th>                                                                
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pedido>
                    <tr>
                        <td>{{pedido.Cliente.razonSocial}}</td>
                        <td>{{pedido.fechaOrdenTrabajo}}</td>
                        <td>{{pedido.fechaEntregaOrden}}</td>
                        <td>{{pedido.valorTotal}}</td>
                        <td>{{pedido.estado}}</td>                                                                
                    </tr>
                </ng-template>
            </p-table>
            <p-tabView *ngIf="pedido.ReferenciaEnPedidos && pedido.ReferenciaEnPedidos.length">
                <ng-container *ngFor="let referencia of pedido.ReferenciaEnPedidos">
                    <p-accordionTab [header]="'Referencia: ' + referencia.referencia">
                        <div>
                            <p-table [value]="[referencia]" styleClass="p-datatable-sm">
                                <ng-template pTemplate="header">
                                    <tr>                                            
                                        <th>Descripción</th>
                                        <th>Valor Unit.</th>                                                                
                                        <th>Cant. Total</th>                                                                                                                               
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-referenciaOne>
                                    <tr>
                                        <td>{{referenciaOne.descripcion}}</td>
                                        <td>{{referenciaOne.valorUnitario}}</td>
                                        <td>{{referenciaOne.cantidadTotal}}</td>                                                              
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        <p-tabView *ngIf="referencia.ProcesoEnReferenciaEnPedidos && referencia.ProcesoEnReferenciaEnPedidos.length">
                            <ng-container *ngFor="let proceso of referencia.ProcesoEnReferenciaEnPedidos">
                                <p-tabPanel>
                                    <ng-template pTemplate="header">
                                        <span>{{ proceso.tipoDeMaquina }}</span>  
                                        <i *ngIf="proceso.id !== undefined && validarRegistroProceso2(proceso.id) && proceso.estado === false" class="pi pi-check ml-2" style="color: green"></i>
                                        <i *ngIf="proceso.estado !== undefined && proceso.estado === true" class="pi pi-circle-fill ml-2" style="color: rgb(255, 255, 0)"></i>
                                        <i *ngIf="proceso.id !== undefined && !validarRegistroProceso2(proceso.id)" class="pi pi-times ml-2" style="color: red"></i>                    
                                    </ng-template>

                                    <p-table [value]="[proceso]">
                                        <ng-template pTemplate="header">
                                            <tr>                                            
                                                <th>Proceso</th>                                                            
                                                <th>Cant. Total</th>
                                                <th>Cant. Asignada</th>
                                                <th>Cant. Pendiente</th>
                                                <th>Cant. Terminada</th>
                                                <th>Estado</th>
                                                <th></th>                                                                                                                               
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-proceso>
                                            <ng-container *ngFor="let info of listProcesos">
                                              <ng-container *ngIf="info.id === proceso.id">
                                                <tr>                                
                                                  <td>{{proceso.proceso}}</td>
                                                  <td>{{info.cantidadTotal}}</td>
                                                  <td>{{calcularSumaCantAsignada(proceso).sumaCantAsignada || 0}}</td>
                                                  <td>{{calcularSumaCantAsignada(proceso).cantidadPendiente || 0}}</td>
                                                  <td>{{info.cantidadAsignada || 0}}</td>
                                                  <td>{{info.cantidadPendiente || 0}}</td>
                                                  <td>{{info.cantidadHecha || 0}}</td>
                                                  <td>
                                                    <ng-container *ngIf="info.estado === false; else terminado">
                                                      En proceso
                                                    </ng-container>
                                                    <ng-template #terminado>
                                                      Terminado
                                                    </ng-template>
                                                  </td>
                                 
                                                  <td>
                                                    <div class="flex">
                                                      <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-info mr-2" (click)="asignarTarea(proceso)"></button>
                                                      <button pButton pRipple icon="pi pi-info" class="p-button-rounded p-button-warning mr-2" (click)="showInfo(proceso.id)"></button>
                                                    </div>
                                                  </td>
                                                </tr>
                                              </ng-container>
                                            </ng-container>
                                          </ng-template>
                                          
                                    </p-table>

                                    <p-table [value]="proceso.ColorEnProcesoEnReferenciaEnPedidos">
                                        <ng-template pTemplate="header">
                                            <tr>                                            
                                                <th>Color</th>                                                            
                                                <th>Cant. Total</th>  
                                                <th>Talla</th>                                                                                              
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-color>
                                            <ng-container *ngFor="let talla of color.TallaEnColorEnProcesoEnReferenciaEnPedidos">
                                                <tr>
                                                    <td>{{color.color}}</td>
                                                    <td>{{talla.cantidad}}</td>
                                                    <td>{{talla.talla}}</td>
                                                </tr>
                                            </ng-container>
                                        </ng-template>
                                    </p-table>
                                     <ng-container *ngFor="let color of proceso.ColorEnProcesoEnReferenciaEnPedidos">
                                        <p-tabPanel [header]="color.color ? color.color : 'Valor Predeterminado'">
                                            <p>
                                                {{ color.color }}
                                            </p>
                                        </p-tabPanel>
                                    </ng-container>
                                </p-tabPanel>
                            </ng-container>
                        </p-tabView>
                    </p-accordionTab>
                </ng-container>
            </p-tabView>
        </p-accordionTab>
    </p-accordion>

    Dialog detalle tareas asignadas
    <p-dialog [(visible)]="viewInfoDialog" [style]="{width: '640px'}" header="Tareas asignadas" [modal]="true" class="p-fluid">
        <p-table [value]="filteredAsignarProceso">
            <ng-template pTemplate="header">
                <tr>                                            
                    <th>Empleado</th>                                                            
                    <th>Proceso</th>
                    <th>Fecha de registro</th> 
                    <th>Cantidad asignada</th> 
                    <th>Estado</th>
                    <th></th>                                                                                           
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-asignar>
                <ng-container>
                    <tr>
                        <td>{{ getNombreEmpleado(asignar.empleado) }}</td>
                        <td>{{asignar.proceso}}</td>
                        <td>{{asignar.fechaRegistro}}</td>
                        <td>{{asignar.cantAsignada}}</td>
                        <td>{{asignar.estado}}</td>
                        <td>
                            <p-inputSwitch  
                            [(ngModel)]="asignar.estado" 
                            (click)="cambiarEstadoProceso(asignar)">
                            </p-inputSwitch>
                        </td>
                    </tr>
                </ng-container> 
            </ng-template>
        </p-table>
    </p-dialog>

    <p-dialog [(visible)]="changeStateDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="asignarProceso">¿El empleado terminó la tarea?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="confirmChangeState(false)"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí" (click)="confirmChangeState(true)"></button>
        </ng-template>
    </p-dialog>

    Dialog asignar tarea a empelado 
    <p-dialog [(visible)]="asignarTareaDialog" [style]="{width: '450px'}" header="Asignar tarea" [modal]="true" class="p-fluid">
        <form [formGroup]="formularioAsignarProceso" (ngSubmit)="addAsignarProceso()">
            <div class="field">
                <label for="empleado">Empleado*</label>
                
                <div>
                  <p-autoComplete
                    formControlName="empleado"
                    [suggestions]="listEmpleados"
                    (completeMethod)="buscarEmpleado($event)"
                    [dropdown]="true"                          
                    [placeholder]="'Seleccionar empleado'"
                    (onSelect)="seleccionarEmpleado($event)">
                    <ng-template let-empleado pTemplate="item">
                            {{empleado.nombre}} {{empleado.apellido}}
                    </ng-template>
                  </p-autoComplete>                              
                </div>
                <small *ngIf="formularioAsignarProceso.get('empleado')?.hasError('required') && formularioAsignarProceso.get('empleado')?.touched" style="color: red;">
                    El empleado es <strong>requerido</strong>
                  </small>
            </div>

            <div class="formgrid grid" style="margin-top: 20px;">  


                <div class="field col">
                    <label for="cantidadPendiente">Cantidad disponible</label>
                    <input [readonly]="true" [ngStyle]="{'pointer-events': 'none', 'background-color': '#f4f4f4', 'caret-color': 'transparent'}" type="text" pInputText formControlName="cantidadPendiente"/>
                    <small *ngIf="formularioAsignarProceso.get('cantidadPendiente')?.hasError('required') && formularioAsignarProceso.get('cantidadPendiente')?.touched">
                        Teléfono es requerido.
                    </small>
                </div>

              <div class="field col">
                <label for="cantAsignada">Cantidad a asignar*</label>
                <input type="text" pInputText pKeyFilter="int" formControlName="cantAsignada"/>
                <small *ngIf="formularioAsignarProceso.get('cantAsignada')?.hasError('required') && formularioAsignarProceso.get('cantAsignada')?.touched" style="color: red;">
                  La cantidad asignada es <strong>requerida</strong>
                </small>
                <small *ngIf="formularioAsignarProceso.get('cantAsignada')?.hasError('min') && formularioAsignarProceso.get('cantAsignada')?.touched" style="color: red;">
                    La cantidad asignada debe ser mayor a 0
                </small>
              </div>

              </div>
          
            <div style="display: flex; justify-content: center; align-items: center;">
              <div class="field">
                <button type="button" pButton pRipple label="Cancelar" class="p-button-rounded p-button-danger" (click)="hideDialog()"></button>
              </div>
              <div class="field" style="margin-left: 8px;">
                <button type="submit" pButton pRipple label="Guardar" class="p-button-rounded p-button-success"></button>
              </div>
            </div>
          </form>
          
    </p-dialog>
    

</div>

</div>
</div> -->