<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Registrar compra" icon="pi pi-plus"
                            [routerLink]="['/pages/compra/add']"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton class="p-button-success" label="Excel" icon="pi pi-file-excel" pTooltip="Descargar" (click)="exportToExcel()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="listCompras" responsiveLayout="scroll" [rows]="5" [globalFilterFields]="['Proveedor.razonSocial','numeroFactura']"
                [paginator]="true" [rowsPerPageOptions]="[5,10,15]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} compras" [rowHover]="true"
                dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Lista de Compras</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Buscar..." 
                            (input)="onGlobalFilter(dt, $event)"  class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="proveedor">Proveedor<p-sortIcon field="proveedor"></p-sortIcon></th>
                        <th pSortableColumn="numeroFactura">N° Factura<p-sortIcon field="numeroFactura"></p-sortIcon>
                        </th>
                        <th pSortableColumn="fechaCompra">Fecha Compra<p-sortIcon field="fechaCompra"></p-sortIcon></th>
                        <!-- <th pSortableColumn="formaPago">Forma Pago<p-sortIcon field="formaPago"></p-sortIcon></th> -->
                        <th pSortableColumn="totalNeto">Valor Total<p-sortIcon field="totalNeto"></p-sortIcon></th>
                        <th pSortableColumn="estadoPago">Saldo<p-sortIcon field="estadoPago"></p-sortIcon></th>
                        <th pSortableColumn="estadoCompra" (click)="alternarVistaEstadoCompra()">Estado<p-sortIcon field="estadoCompra"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-compra>
                    <tr *ngIf="ffiltroEstadoCompra(compra, dt.filters)">
                        <td style="min-width:10rem;"><span class="p-column-title">Proveedor</span>
                            {{ compra.Proveedor.tipoIdentificacion !== 'NIT' ?
                                    compra.Proveedor.razonSocial + ' ' + compra.Proveedor.nombreComercial :
                                    compra.Proveedor.razonSocial }}
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">N° Factura</span>
                            {{ compra.numeroFactura }}
                        </td>
                        <td style=" min-width:8rem;">
                            <span class="p-column-title">Fecha Compra</span>
                            {{ compra.fechaCompra }}
                        </td>
                        <!-- <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Forma Pago</span>
                            {{ compra.formaPago }}
                        </td> -->
                        <td style=" min-width:10rem;">
                            <span class="p-column-title">Total Neto</span>
                            $ {{ compra.totalNeto | number: '1.2-2' }}
                        </td>
                        <td style=" min-width: 5rem;">
                            <span class="p-column-title">Saldo</span>
                            {{ compra.estadoPago }}
                        </td>
                        <td style=" min-width: 5rem;">
                            <span class="p-column-title">Estado 10 </span>
                            <p-tag [value]="getEstadoLabel(compra.estadoCompra)" [severity]="getSeverityCompra(compra.estadoCompra)"></p-tag>
                        </td>
                        <td>
                          
                            
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-file" class="p-button-rounded p-button-secondary mr-2"
                                    (click)="mostrarDetalleCompra(compra.id)" pTooltip="Ver detalle"></button>

                                 <!-- Verificar si la cumple con las condicones para realizar un abono -->
                                 <button *ngIf="compra.formaPago === 'Crédito' && compra.estadoPago === 'Pendiente' && compra.estadoCompra === true"
                                 pButton pRipple icon="pi pi-dollar" class="p-button-rounded p-button-success mr-2 mx-2" 
                                 (click)="newAbonoCompra(compra.id)">
                                 </button>    
                                <button *ngIf="compra.estadoCompra == true" pButton pRipple icon="pi pi-times"
                                    class="p-button-rounded p-button-danger" (click)="anularCompra(compra)"
                                    pTooltip="Anular"></button>
                                    
                                   
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-dialog header="Detalle de la compra" [(visible)]="mostrarModalDetalle" [modal]="true" [responsive]="true"
                [style]="{ width: '50vw' }">
                <div *ngIf="detalleCompra">
                    <div class="grid mt-1">

                        <div class="col-4">
                            <span style="font-weight: bold;">Proveedor:</span>
                            <div >                            
                                <span>{{ detalleCompra.Proveedor.tipoIdentificacion !== 'NIT' ?
                                    detalleCompra.Proveedor.razonSocial + ' ' + detalleCompra.Proveedor.nombreComercial :
                                    detalleCompra.Proveedor.razonSocial }}</span>
                            </div>
                        </div>
                        
                        <div class="col-4">
                            <span style="font-weight: bold;">Contacto:</span>
                            <div >                            
                                <span>{{ detalleCompra.Proveedor.contacto }}</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <span style="font-weight: bold;">N° Factura:</span>
                            <div>                            
                                <span>{{ detalleCompra.numeroFactura }}</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <span style="font-weight: bold;">Fecha Compra:</span>
                            <div >                            
                                <span>{{ detalleCompra.fechaCompra }}</span>
                            </div>
                        </div>

                        
                        <div class="col-12">
                            <p-table [value]="detalleCompra.DetalleEnCompras" styleClass="p-datatable-sm">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Insumo</th>
                                        <th>Valor Unitario</th>
                                        <th>Cantidad</th>
                                        <th>Iva</th>
                                        <th>Valor Total</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-detalleInsumo>
                                    <tr>
                                        <td>{{detalleInsumo.Insumo.nombre}}</td>
                                        <td>{{detalleInsumo.valorUnitario | number: '1.2-2'}}</td>
                                        <td>{{detalleInsumo.cantidad}}</td>
                                        <td>{{detalleInsumo.impuestoIva | number: '1.2-2'}}</td>
                                        <td>{{detalleInsumo.valorTotal | number: '1.2-2'}}</td>
                                        <td></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>

                        <div class="col-6">
                            <span style="font-weight: bold;">Forma Pago:</span>
                            <span>{{ detalleCompra.formaPago }}</span>
                        </div>
                        <div class="col-6">
                            <div>
                                <span style="font-weight: bold;">Total bruto: </span>
                                <span>$ {{ detalleCompra.totalBruto | number: '1.2-2'}}</span>
                            </div>
                            <div>
                                <span style="font-weight: bold;">Iva: </span>
                                <span>$ {{ detalleCompra.iva | number: '1.2-2'}}</span>
                            </div>
                            <div>
                                <span style="font-weight: bold;">Total Neto: </span>
                                <span>$ {{ detalleCompra.totalNeto | number: '1.2-2'}}</span>
                            </div>

                        </div>
                    </div>

                </div>
                <div *ngIf="detalleCompra && detalleCompra.formaPago === 'Crédito'">
                    <div class="card m-5" [style]="{width: '500px', textAlign: 'center'}">
                            <h5>Abonos De La Venta {{ id }}</h5>
                            <p-table #dt [value]="listAbonoCompras" responsiveLayout="scroll" [rows]="10" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="idAbono">Id Abono</th>
                                        <th pSortableColumn="fechaAbono">Fecha</th>
                                        <th pSortableColumn="valorAbono">Valor Abonado</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-abonoVenta>
                                    <tr>
                                        <td style="width:14%; min-width:5rem;"><span class="p-column-title">Id Abono</span>
                                            {{ abonoVenta.id }}
                                        </td>
                                        <td style="width:14%; min-width:10rem;">
                                            <span class="p-column-title">Fecha</span>
                                            {{ abonoVenta.fechaAbono }}
                                        </td>
                                        <td style="width:14%; min-width:8rem;">
                                            <span class= "p-column-title">Valor Abonado</span>
                                            {{ abonoVenta.valorAbono  }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                    </div>
                    
                    
                
                </div>

                <!-- <button pButton type="button" label="Cerrar" class="p-button-secondary" (click)="cerrarModalDetallePedido()"></button> -->
            </p-dialog>

            <p-dialog header="Confirmación" [(visible)]="showConfirmationDialogCompra" [modal]="true" >
                <p>
                    ¿Está seguro de que desea anular la compra? despues de anulada no se podra volver a modificar
                </p>
                <input pInputText type="text" [(ngModel)]="motivoAnulacion" placeholder="Motivo de Anulación" />
                <button pButton type="button" label="Sí" icon="pi pi-check"
                    (click)="confirmActionCompra(true)"></button>
                <button pButton type="button" label="No" icon="pi pi-times"
                    (click)="confirmActionCompra(false)"></button>
            </p-dialog>

        </div>  
        
        <p-dialog [(visible)]="productDialogAbono" [style]="{width: '1000px', height: '500px' }" header="Abono Compra" [modal]="true" class="p-fluid">         
            <div style="display: flex;">
                <div style="flex: 1;">    
                    <form [formGroup]="formAbonoCompra" >
                        <div class="formgrid grid">
                            <div class="field col">
                                <label for="id">Id Compra</label>
                                    <input formControlName="id" id="id" type="number" pInputText readonly >
                            </div>
                            <div class="field col">
                                <label for="cliente">Proveedor</label>
                                    <input formControlName= "proveedor"id="proveedor" type="text"  pInputText readonly >
                            </div>
                            
                        </div>

                        <div class="formgrid grid">

                            <div class="field col">
                                <label for="valorAbono">Total</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">$</span>
                                    <p-inputNumber formControlName="totalNeto" [readonly]="true"></p-inputNumber>

                                </div>
                            </div>
                            <div class="field col">
                                <label for="valorAbono">Restante</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon" readonly>$</span>
                                    <input type="number" formControlName="valorRestante" [readonly]="true">
                                </div>
                                
                                

                                  
                            </div>
                                                         
                    
                        </div>
                       
                    </form> 
                    <div class="mb-2">
                        <label for="valorAbono">Valor Abono</label>
                    </div>
                     
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">$</span>
                        <p-inputNumber  inputId="valorAbono" [(ngModel)]="value9" placeholder="000.000.000" ></p-inputNumber>
                        <span *ngIf="formAbonoCompra.get('valorAbono')?.hasError('required') && formAbonoCompra.get('valorAbono')?.touched" style="color: red;">
                            El valor del abono es <strong>requerido</strong>
                        </span>
                        <p-toast></p-toast>
                        <button class="ml-1" (click)="confirm2($event)" pButton icon="pi pi-plus" class="p-button-rounded p-button-success"></button>
                        <p-confirmPopup key="confirm2"></p-confirmPopup>
                    </div>
                </div>
                <div style="flex: 1;"> 
                    <div class="card m-5" [style]="{width: '500px', textAlign: 'center'}">
                            <h5 >Abonos De La Compra {{ id }}</h5>
                            <p-table #dt [value]="listAbonoCompras" responsiveLayout="scroll" [rows]="10" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="idAbono">Id Abono</th>
                                        <th pSortableColumn="fechaAbono">Fecha</th>
                                        <th pSortableColumn="valorAbono">Valor Abonado</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-abonoVenta>
                                    <tr>
                                        <td style="width:14%; min-width:5rem;"><span class="p-column-title">Id Abono</span>
                                            {{ abonoVenta.id }}
                                        </td>
                                        <td style="width:14%; min-width:10rem;">
                                            <span class="p-column-title">Fecha</span>
                                            {{ abonoVenta.fechaAbono }}
                                        </td>
                                        <td style="width:14%; min-width:8rem;">
                                            <span class= "p-column-title">Valor Abonado</span>
                                            {{ abonoVenta.valorAbono  }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                    </div>
                    
                    
                    
        
                
                </div>
                
            </div>
        </p-dialog>
    
    </div>
</div>