* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color:rgb(205, 216, 223);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}

.transparent-border {
    border-color: transparent;
  }
  

.p-table thead th,
.p-table tbody td {
  padding: 100px 100px; /* Ajusta el relleno de las celdas según tus necesidades */
}


/* Estilos para dispositivos con un ancho de 768px o menos */
@media only screen and (max-width: 768px) {
  .footer-pedido {
    text-align: center;
    margin-top: 10px;
  }

  .responsiveMediaQuery{
    .col-6 , .col-5, .col-4, .col-3, .col-2, .p-table{
        width: 100%;
    }
  }

  .tallaColor{
    .col-2{
        width: 50%;
    }
  }  
  
  .insumosGastados{
    .col-4, .col-3, .col-2{
        width: 100%;
    }
  }
}
