* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color:rgb(205, 216, 223);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}


.transparent-border {
    border-color: transparent;
  }
  

.inputs-pedido, .inputs-pedido .p-dropdown, .inputs-pedido .p-calendar, .inputs-pedido .p-autocomplete, .inputs-pedido .p-multiselect {
    height: 35px;
}

.p-table thead th,
.p-table tbody td {
  padding: 100px 100px; /* Ajusta el relleno de las celdas según tus necesidades */
}


