<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
              <div class="my-2">
                  <button pButton pRipple label="Nuevo empleado" icon="pi pi-plus" class="p-button-success mr-2" (click)="nuevoEmpleado()"></button>
                  <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
              </div>
          </ng-template>

          <ng-template pTemplate="right">
              <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
              <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button> -->
          </ng-template>
      </p-toolbar>
    
      <p-table #dt [value]="listEmpleados" [columns]="cols" selectionMode="single" [(selection)]="selectedProduct" [showCurrentPageReport]="true" [globalFilterFields]="['nombre','apellido']" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowHover]="true" dataKey="id"[rows]="5" [paginator]="true" [rowsPerPageOptions]="[5,10,15]">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
              <h5 class="m-0">Empleados</h5>
              <span class="block mt-2 md:mt-0 p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
              </span>
          </div>
      </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <!-- <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th> -->
            <th>Tipo de identidad</th>
            <th>N° Identificación</th>
            <th pSortableColumn="nombre">Nombres<p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="apellido">Apellidos<p-sortIcon field="apellido"></p-sortIcon></th>
            <!-- <th>Correo electrónico</th> -->
            <!-- <th>Teléfono</th> -->
            <!-- <th>Ciudad</th> -->
            <!-- <th>Dirección</th> -->
            <!-- <th>Fecha ingreso</th> -->
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-empleado>
          <tr>
            <!-- <td>{{ empleado.idEmpleado }}</td> -->
            <!-- <td style="width:14%; min-width:5rem;"><span class="p-column-title">Id</span>
              {{empleado.idEmpleado }}
            </td> -->
            <td style="width:14%; min-width:11rem;"><span class="p-column-title">Tipo identidad</span>
              {{ empleado.tipoIdentificacion }}
            </td>
            <td style="width:14%; min-width:11rem;"><span class="p-column-title">Nro. identidad</span>
              {{ empleado.numeroIdentificacion }}
            </td>
            <td style="width:14%; min-width:11rem;"><span class="p-column-title">Nombres</span>
              {{ empleado.nombre }}
            </td>
            <td style="width:14%; min-width:11rem;"><span class="p-column-title">Apellidos</span>
              {{ empleado.apellido }}
            </td>
            <!-- <td style="width:14%; min-width:10rem;"><span class="p-column-title">Correo</span>
              {{ empleado.correo }}s
            </td> -->
            <!-- <td style="width:14%; min-width:12rem;"><span class="p-column-title">Telefono</span>
              {{ empleado.telefono }}
            </td> -->
            <!-- <td>{{ empleado.ciudad }}</td> -->
            <!-- <td>{{ empleado.direccion }}</td> -->
            <!-- <td>{{ empleado.fechaIngreso }}</td> -->
            
            <td>
              <p-inputSwitch [(ngModel)]="empleado.estado" (click)="cambiarEstado(empleado)"></p-inputSwitch>
            </td>
            <td>
                  <div class="flex">
                      <button pButton pRipple icon="pi pi-info" class="p-button-rounded p-button-info mr-2" (click)="infoEmpleado(empleado.idEmpleado)"></button>
                      <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning" (click)="editProduct(empleado.idEmpleado)"></button>
                  </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

  </div>
  </div>
</div>

<!-- Dialog crear un empleado -->
<p-dialog [(visible)]="empleadoNuevoDialog" [style]="{width: '450px'}" header="Nuevo empleado" [modal]="true" class="p-fluid">

  <form [formGroup]="formularioEmpleado" (ngSubmit)="addEmpleado()">
    <!-- <ng-template pTemplate="content"> -->
      <div class="formgrid grid" style="margin-top: 20px;">
      <div class="field col">
        <label for="tipoIdentidad">Tipo de identidad*</label>
        <input type="text" pInputText pKeyFilter="alpha" formControlName="tipoIdentificacion" required autofocus/>
        <small *ngIf="formularioEmpleado.get('tipoIdentificacion')?.hasError('required') && formularioEmpleado.get('tipoIdentificacion')?.touched" style="color: red;">
          El tipo de identidad es <strong>requerido</strong>
        </small>
      </div>

      <div class="field col">
        <label for="numeroIdentificacion">N° Identificación*</label>
        <input type="text" pKeyFilter="int" pInputText formControlName="numeroIdentificacion"/>
        <small *ngIf="formularioEmpleado.get('numeroIdentificacion')?.hasError('required') && formularioEmpleado.get('numeroIdentificacion')?.touched" style="color: red;">
            El nro. de identificación es <strong>requerido</strong>  
        </small>
      </div>
    </div>
    <div class="field">
        <label for="nombre">Nombres*</label>
        <input type="text" pKeyFilter="alpha" pInputText formControlName="nombre"/>
        <small *ngIf="formularioEmpleado.get('nombre')?.hasError('required') && formularioEmpleado.get('nombre')?.touched" style="color: red;">
            El nombre es <strong>requerido</strong>
        </small>
    </div>
    <div class="field">
        <label for="apellido">Apellidos*</label>
        <input type="text" pKeyFilter="alpha" pInputText formControlName="apellido"/>
        <small *ngIf="formularioEmpleado.get('apellido')?.hasError('required') && formularioEmpleado.get('apellido')?.touched" style="color: red;">
            El apellido es <strong>requerido</strong>
        </small>
    </div>
    <div class="field"> 
        <label for="correo">Correo electrónico*</label>
        <input type="text" pInputText formControlName="correo"/>
        <small *ngIf="formularioEmpleado.get('correo')?.hasError('required') && formularioEmpleado.get('correo')?.touched" style="color: red;">
            El correo es <strong>requerido</strong>
        </small>
    </div>
    <div class="formgrid grid" style="margin-top: 20px;">
    <div class="field col">
        <label for="telefono">Teléfono*</label>
        <input type="text" pKeyFilter="int" pInputText formControlName="telefono"/>
        <small *ngIf="formularioEmpleado.get('telefono')?.hasError('required') && formularioEmpleado.get('telefono')?.touched" style="color: red;">
            El teléfono es <strong>requerido</strong>
        </small>
    </div>
    <div class="field col">
        <label for="ciudad">Ciudad*</label>
        <input type="text" pKeyFilter="alpha" pInputText formControlName="ciudad"/>
        <small *ngIf="formularioEmpleado.get('ciudad')?.hasError('required') && formularioEmpleado.get('ciudad')?.touched" style="color: red;">
            La ciudad es <strong>requerida</strong>
        </small>
    </div>
    </div>
    <div class="field">
        <label for="direccion">Dirección*</label>
        <input type="text" pInputText formControlName="direccion"/>
        <small *ngIf="formularioEmpleado.get('direccion')?.hasError('required') && formularioEmpleado.get('direccion')?.touched" style="color: red;">
            La dirección es <strong>requerida</strong>
        </small>
    </div>
    <!-- <div class="field">
        <label for="estado">Estado</label>
        <input type="text" pInputText formControlName="estado"/>
        <small *ngIf="formularioEmpleado.get('estado')?.hasError('required') && formularioEmpleado.get('estado')?.touched">
            Estado es requerido.
        </small>
    </div> -->
    <!-- </ng-template> -->
  
    <div style="display: flex; justify-content: center; align-items: center;">
      <div class="field">
        <button type="button" pButton pRipple label="Cancelar" class="p-button-rounded p-button-danger" (click)="hideDialog()"></button>
      </div>
      <div class="field" style="margin-left: 8px;"> <!-- Agrega un margen entre los botones -->
        <button type="submit" pButton pRipple label="Guardar" class="p-button-rounded p-button-success"></button>
      </div>
  </div>
  
  </form>
  
</p-dialog>
<!-- Dialog editar un empleado -->
<p-dialog [(visible)]="empleadoEditarDialog" [style]="{width: '450px'}" header="Editar empleado" [modal]="true" class="p-fluid">

  <form [formGroup]="formularioEmpleado" (ngSubmit)="addEmpleado()">
    <!-- <ng-template pTemplate="content"> -->
      <div class="formgrid grid" style="margin-top: 20px;">
      <div class="field col">
        <label for="tipoIdentidad">Tipo de identidad</label>
        <input type="text" pInputText pKeyFilter="alpha" formControlName="tipoIdentificacion"/>
        <small *ngIf="formularioEmpleado.get('tipoIdentificacion')?.hasError('required') && formularioEmpleado.get('tipoIdentificacion')?.touched" style="color: red;">
          El tipo de identidad es <strong>requerido</strong>
        </small>
      </div>
      <div class="field col">
        <label for="numeroIdentificacion">N° Identificación</label>
        <input type="text" pInputText pKeyFilter="int" formControlName="numeroIdentificacion"/>
        <small *ngIf="formularioEmpleado.get('numeroIdentificacion')?.hasError('required') && formularioEmpleado.get('numeroIdentificacion')?.touched" style="color: red;" style="color: red;">
          El nro. de identificación es <strong>requerido</strong>
        </small>
    </div>
    </div>
    <div class="field">
        <label for="nombre">Nombres</label>
        <input type="text" pInputText pKeyFilter="alpha" formControlName="nombre"/>
        <small *ngIf="formularioEmpleado.get('nombre')?.hasError('required') && formularioEmpleado.get('nombre')?.touched" style="color: red;">
          El nombre es <strong>requerido</strong>
        </small>
    </div>
    <div class="field">
        <label for="apellido">Apellidos</label>
        <input type="text" pInputText pKeyFilter="alpha" formControlName="apellido"/>
        <small *ngIf="formularioEmpleado.get('apellido')?.hasError('required') && formularioEmpleado.get('apellido')?.touched" style="color: red;">
          El apellido es <strong>requerido</strong>
        </small>
    </div>
    <div class="field">
        <label for="correo">Correo electrónico</label>
        <input type="text" pInputText formControlName="correo"/>
        <small *ngIf="formularioEmpleado.get('correo')?.hasError('required') && formularioEmpleado.get('correo')?.touched" style="color: red;">
          El correo es <strong>requerido</strong>
        </small>
    </div>
    <div class="formgrid grid" style="margin-top: 20px;">
    <div class="field col">
        <label for="telefono">Teléfono</label>
        <input type="text" pInputText pKeyFilter="int" formControlName="telefono"/>
        <small *ngIf="formularioEmpleado.get('telefono')?.hasError('required') && formularioEmpleado.get('telefono')?.touched" style="color: red;">
          El teléfono es <strong>requerido</strong>
        </small>
    </div>
    <div class="field col">
        <label for="ciudad">Ciudad</label>
        <input type="text" pInputText pKeyFilter="alpha" formControlName="ciudad"/>
        <small *ngIf="formularioEmpleado.get('ciudad')?.hasError('required') && formularioEmpleado.get('ciudad')?.touched" style="color: red;">
            Ciudad es requerido.
        </small>
    </div>
    </div>
    <div class="field">
        <label for="direccion">Dirección</label>
        <input type="text" pInputText formControlName="direccion"/>
        <small *ngIf="formularioEmpleado.get('direccion')?.hasError('required') && formularioEmpleado.get('direccion')?.touched" style="color: red;">
          La dirección es <strong>requerida</strong>
        </small>
    </div>
    <!-- <div class="field">
        <label for="estado">Estado</label>
        <input type="text" pInputText formControlName="estado"/>
        <small *ngIf="formularioEmpleado.get('estado')?.hasError('required') && formularioEmpleado.get('estado')?.touched">
            Estado es requerido.
        </small>
    </div> -->
    <!-- </ng-template> -->
  
    <div style="display: flex; justify-content: center; align-items: center;">
      <div class="field">
        <button type="button" pButton pRipple label="Cancelar" class="p-button-rounded p-button-danger" (click)="hideDialog()"></button>
      </div>
      <div class="field" style="margin-left: 8px;"> <!-- Agrega un margen entre los botones -->
        <button type="submit" pButton pRipple label="Guardar" class="p-button-rounded p-button-success"></button>
      </div>
  </div>
  
  </form>
  
</p-dialog>

<!-- Dialog información del empleado -->
<p-dialog [(visible)]="empleadoInfoDialog" [style]="{width: '450px'}" header="Detalles del empleado" [modal]="true" class="p-fluid">

  <form [formGroup]="formularioEmpleado">
    <!-- <ng-template pTemplate="content"> -->
      <div class="formgrid grid" style="margin-top: 20px;">
      <div class="field col">
        <label for="tipoIdentidad">Tipo de identidad</label>
        <input [readonly]="true" [ngStyle]="{'pointer-events': 'none', 'background-color': '#f4f4f4', 'caret-color': 'transparent'}" type="text" id="disabled-input" pInputText formControlName="tipoIdentificacion" />
        <!-- <small *ngIf="formularioEmpleado.get('tipoIdentificacion')?.hasError('required') && formularioEmpleado.get('tipoIdentificacion')?.touched">
          Tipo de identidad es requerido.
        </small> -->
      </div>
      <div class="field col">
        <label for="numeroIdentificacion">N° Identificación</label>
        <input [readonly]="true" [ngStyle]="{'pointer-events': 'none', 'background-color': '#f4f4f4', 'caret-color': 'transparent'}" type="text" pInputText formControlName="numeroIdentificacion"/>
        <small *ngIf="formularioEmpleado.get('numeroIdentificacion')?.hasError('required') && formularioEmpleado.get('numeroIdentificacion')?.touched">
            Nro. Identificación es requerido.
        </small>
      </div>
    </div>
    <div class="field">
        <label for="nombre">Nombres</label>
        <input [readonly]="true" [ngStyle]="{'pointer-events': 'none', 'background-color': '#f4f4f4', 'caret-color': 'transparent'}" type="text" pInputText formControlName="nombre"/>
        <small *ngIf="formularioEmpleado.get('nombre')?.hasError('required') && formularioEmpleado.get('nombre')?.touched">
            Nombre es requerido.
        </small>
    </div>
    <div class="field">
        <label for="apellido">Apellidos</label>
        <input [readonly]="true" [ngStyle]="{'pointer-events': 'none', 'background-color': '#f4f4f4', 'caret-color': 'transparent'}" type="text" pInputText formControlName="apellido"/>
        <small *ngIf="formularioEmpleado.get('apellido')?.hasError('required') && formularioEmpleado.get('apellido')?.touched">
            Apellido es requerido.
        </small>
    </div>
    <div class="field">
        <label for="correo">Correo electrónico</label>
        <input [readonly]="true" [ngStyle]="{'pointer-events': 'none', 'background-color': '#f4f4f4', 'caret-color': 'transparent'}" type="text" pInputText formControlName="correo"/>
        <small *ngIf="formularioEmpleado.get('correo')?.hasError('required') && formularioEmpleado.get('correo')?.touched">
            Correo es requerido.
        </small>
    </div>
    <div class="formgrid grid" style="margin-top: 20px;">
    <div class="field col">
        <label for="telefono">Teléfono</label>
        <input [readonly]="true" [ngStyle]="{'pointer-events': 'none', 'background-color': '#f4f4f4', 'caret-color': 'transparent'}" type="text" pInputText formControlName="telefono"/>
        <small *ngIf="formularioEmpleado.get('telefono')?.hasError('required') && formularioEmpleado.get('telefono')?.touched">
            Teléfono es requerido.
        </small>
    </div>
    <div class="field col">
        <label for="ciudad">Ciudad</label>
        <input [readonly]="true" [ngStyle]="{'pointer-events': 'none', 'background-color': '#f4f4f4', 'caret-color': 'transparent'}" type="text" pInputText formControlName="ciudad"/>
        <small *ngIf="formularioEmpleado.get('ciudad')?.hasError('required') && formularioEmpleado.get('ciudad')?.touched">
            Ciudad es requerido.
        </small>
    </div>
  </div>
    <div class="field">
        <label for="direccion">Dirección</label>
        <input [readonly]="true" [ngStyle]="{'pointer-events': 'none', 'background-color': '#f4f4f4', 'caret-color': 'transparent'}" type="text" pInputText formControlName="direccion"/>
        <small *ngIf="formularioEmpleado.get('direccion')?.hasError('required') && formularioEmpleado.get('direccion')?.touched">
            Dirección es requerido.
        </small>
    </div>
    <!-- <div class="field">
        <label for="estado">Estado</label>
        <input type="text" pInputText formControlName="estado"/>
        <small *ngIf="formularioEmpleado.get('estado')?.hasError('required') && formularioEmpleado.get('estado')?.touched">
            Estado es requerido.
        </small>
    </div> -->
    <!-- </ng-template> -->
  
    <div style="display: flex; justify-content: center; align-items: center;">
      <div class="field">
        <button type="button" pButton pRipple label="Cerrar" class="p-button-rounded p-button-danger" (click)="hideDialog()"></button>
      </div>
  </div>
  
  </form>
  
</p-dialog>

<!-- Mensaje de validación -->
<p-dialog [(visible)]="changeStateDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span *ngIf="empleado">¿Quieres cambiar el estado del empleado?</span>
  </div>
  <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="confirmChangeState(false)"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí" (click)="confirmChangeState(true)"></button>
  </ng-template>
</p-dialog>

