<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
              <div class="my-2">
                  <button pButton pRipple label="Nuevo empleado" icon="pi pi-plus" class="p-button-success mr-2" (click)="nuevoEmpleado()"></button>
                  <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
              </div>
          </ng-template>

          <ng-template pTemplate="right">
              <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
              <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button> -->
          </ng-template>
      </p-toolbar>
    
      <p-table #dt [value]="listEmpleados" [columns]="cols" selectionMode="single" [(selection)]="selectedProduct" [showCurrentPageReport]="true" [globalFilterFields]="['nombre','apellido']" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowHover]="true" dataKey="id"[rows]="5" [paginator]="true" [rowsPerPageOptions]="[5,10,15]">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
              <h5 class="m-0">Empleados</h5>
              <span class="block mt-2 md:mt-0 p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
              </span>
          </div>
      </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
            <th>Tipo de identidad</th>
            <th>N° Identificación</th>
            <th pSortableColumn="nombre">Nombres<p-sortIcon field="nombre"></p-sortIcon></th>
            <th pSortableColumn="apellido">Apellidos<p-sortIcon field="apellido"></p-sortIcon></th>
            <th>Correo electrónico</th>
            <th>Teléfono</th>
            <!-- <th>Ciudad</th> -->
            <!-- <th>Dirección</th> -->
            <!-- <th>Fecha ingreso</th> -->
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-empleado>
          <tr>
            <!-- <td>{{ empleado.idEmpleado }}</td> -->
            <td style="width:14%; min-width:5rem;"><span class="p-column-title">Id</span>
              {{empleado.idEmpleado }}
            </td>
            <td style="width:14%; min-width:11rem;"><span class="p-column-title">Tipo identidad</span>
              {{ empleado.tipoIdentificacion }}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Nro. identidad</span>
              {{ empleado.numeroIdentificacion }}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Nombres</span>
              {{ empleado.nombre }}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Apellidos</span>
              {{ empleado.apellido }}
            </td>
            <td style="width:14%; min-width:10rem;"><span class="p-column-title">Correo</span>
              {{ empleado.correo }}s
            </td>
            <td style="width:14%; min-width:12rem;"><span class="p-column-title">Telefono</span>
              {{ empleado.telefono }}
            </td>
            <!-- <td>{{ empleado.ciudad }}</td> -->
            <!-- <td>{{ empleado.direccion }}</td> -->
            <!-- <td>{{ empleado.fechaIngreso }}</td> -->
            
            <td>
              <p-inputSwitch [(ngModel)]="empleado.estado" (click)="cambiarEstado(empleado)"></p-inputSwitch>
            </td>
            <td>
                
                    <div class="flex">
                        <button pButton pRipple icon="pi pi-ellipsis-v" class="p-button-rounded p-button-success mr-2" (click)="editProduct(empleado)"></button>
                        <button pButton pRipple icon="pi pi-user-edit" class="p-button-rounded p-button-warning" (click)="editProduct(empleado)"></button>
                    </div>
                
            </td>
          </tr>
        </ng-template>
      </p-table>

  </div>
  </div>
</div>


<!--Visualizar y crear un empleado-->
<p-dialog [(visible)]="empleadoDialog" [style]="{width: '450px'}" header="Nuevo empleado" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="tipoIdentidad">Tipo de identidad</label>
            <p-dropdown [(ngModel)]="empleado.tipoIdentificacion" inputId="inventoryStatus" optionValue="label" [options]="tipoIdentidad" placeholder="Seleccionar">
            </p-dropdown>
        </div>
        <div class="field">
            <label for="numeroIdentificacion">N° Identificación</label>
            <input type="text" pInputText id="numeroIdentificacion" [(ngModel)]="empleado.numeroIdentificacion" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !empleado.numeroIdentificacion}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !empleado.numeroIdentificacion">Nro. Identificación es requerido.</small>
        </div>
        <div class="field">
            <label for="name">Nombres</label>
            <input type="text" pInputText id="name" [(ngModel)]="empleado.nombre" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !empleado.nombre}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !empleado.nombre">Nombre es requerido.</small>
        </div>
        <div class="field">
            <label for="apellido">Apellidos</label>
            <input type="text" pInputText id="apellido" [(ngModel)]="empleado.apellido" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !empleado.apellido}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !empleado.apellido">Apellido es requerido.</small>
        </div>
        <div class="field">
            <label for="correo">Correo electrónico</label>
            <input type="text" pInputText id="correo" [(ngModel)]="empleado.correo" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !empleado.correo}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !empleado.correo">Correo es requerido.</small>
        </div>
        <div class="field">
            <label for="telefono">Teléfono</label>
            <input type="text" pInputText id="telefono" [(ngModel)]="empleado.telefono" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !empleado.telefono}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !empleado.telefono">Teléfono es requerido.</small>
        </div>
        <div class="field">
            <label for="ciudad">Ciudad</label>
            <input type="text" pInputText id="ciudad" [(ngModel)]="empleado.ciudad" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !empleado.ciudad}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !empleado.ciudad">Ciudad es requerido.</small>
        </div>
        <div class="field">
            <label for="direccion">Dirección</label>
            <input type="text" pInputText id="direccion" [(ngModel)]="empleado.direccion" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !empleado.direccion}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !empleado.direccion">Dirección es requerido.</small>
        </div>
        <div class="field">
            <label for="estado">Estado</label>
            <input type="text" pInputText id="direccion" [(ngModel)]="empleado.estado" required [ngClass]="{'ng-invalid ng-dirty' : submitted && !empleado.estado}"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !empleado.estado">Estado es requerido.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>

<df-messenger
  intent="WELCOME"
  chat-title="Bot-test"
  agent-id="19ece6fc-7a8f-431c-a4eb-e32efa10d19c"
  language-code="es"
></df-messenger>

<!-- Mensaje de validación -->
<p-dialog [(visible)]="changeStateDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
  <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span *ngIf="empleado">¿Quieres cambiar el estado del empleado?</span>
  </div>
  <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="confirmChangeState(false)"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sí" (click)="confirmChangeState(true)"></button>
  </ng-template>
</p-dialog>
